/* ###################################################################
 * Section common with Gnome Shell
 * ... contains a few cinnamon specific styles (rare occurences) 
 * ###################################################################*/
stage {
	font-family: "Droid Sans",sans,sans-serif;
}
.cinnamon-link {
	color: #333;
	text-decoration: underline;
}
.cinnamon-link:hover {
	color: #c7deee;
}
.label-shadow {
	color: rgba(0,0,0,0.5);
}
StScrollBar {
	padding: 0;
}
StScrollView.vfade {
	-st-vfade-offset: 68px;
}
StScrollView StScrollBar {
	min-width: 8px;
	min-height: 16px;
}

StScrollBar StBin#trough {
	background-color: rgba(0,0,0,0);
	border: 0 transparent;
	border-radius: 4px;
}
StScrollBar StButton#vhandle {
	background-color: rgba(169,169,169,0.65);
	border: 0 transparent;
	border-radius: 4px;
}
StScrollBar StButton#hhandle {
	background-color: rgba(169,169,169,0.65);
	border: 0 transparent;
	border-radius: 4px;
}
StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover {
	background-color: rgba(68,161,223,0.99);
}
#Tooltip {
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 4px 8px;
	background-color: rgba(0,0,0,0.75);
	color: #fff;
	font-size: 9pt;
	font-weight: normal;
	text-align: center;
}
/* ===================================================================
 * Shared button properties 
 * ===================================================================*/
.notification-button, .notification-icon-button,
.hotplug-notification-item, .hotplug-resident-eject-button,
.modal-dialog-button {
	color: #333;
	border: 1px solid #bbb;
	border-radius: 2px;
	background-color: #f2f2f2;
	box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.7);
	text-shadow: 1px 1px 0 0 rgba(255,255,255,0.5);
}
.notification-button:hover,
.notification-icon-button:hover, .hotplug-notification-item:hover,
.hotplug-resident-eject-button:hover, .modal-dialog-button:hover {
	background-color: #fff;
	transition-duration: 150;
}
.notification-button:focus,
.notification-icon-button:focus, .hotplug-notification-item:focus,
.modal-dialog-button:focus {
	border: 1px solid #3a98d8;
}
.notification-button:active, .notification-icon-button:active,
.hotplug-notification-item:active, .hotplug-resident-eject-button:active,
.modal-dialog-button:active, .modal-dialog-button:pressed {
	border: 1px solid #bbb;
	background-color: #e9e9e9;
	box-shadow: inset 0 0 1px 1px #dadada;
}
/* ===================================================================
 * PopupMenu (popupMenu.js) 
 * ===================================================================*/
.popup-menu-boxpointer {
	-arrow-border-radius: 6px;
	-arrow-background-color: rgba(248,248,248,1);
	-arrow-border-width: 1px;
	-arrow-border-color: #b2b2b2;
	-arrow-base: 20px;
	-arrow-rise: 10px;
	-boxpointer-gap: 12px;
}
.popup-menu {
	color: #333;
	font-size: 9pt;
	text-shadow: 1px 1px 0 0 rgba(255,255,255,0.5);
	min-width: 100px;
}
.popup-submenu-menu-item:open {
	border: 1px solid #44a1df;
	border-left: 0;
	border-right: 0;
	background-gradient-direction: vertical;
	background-gradient-start: #6ebdf3;
	background-gradient-end: #3f9cdb;
	box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.2);
	color: #fff;
	font-weight: bold;
	font-size: 9pt;
	text-shadow: 1px 1px 0 0 rgba(0,0,0,0.2);
}
.popup-sub-menu {
	background-color: rgba(248,248,248,1);
	border: 1px solid #ccc;
	border-left: 0;
	border-right: 0;
}
.popup-sub-menu .popup-menu-item:ltr {
	padding-right: 0em;
}
.popup-sub-menu .popup-menu-item:rtl {
	padding-left: 0em;
}
.popup-sub-menu StScrollBar {
	padding: 4px;
}
.popup-sub-menu StScrollBar StBin#trough {
	border-width: 0;
}
.popup-sub-menu StScrollBar StBin#vhandle {
	background-color: rgba(69,69,69,0.65);
	border-width: 0;
}
.popup-sub-menu StScrollBar StBin#vhandle:hover {
	background-color: rgba(68,161,223,0.99);
	transition-duration: 150;
}
.popup-combo-menu {
	background-color: #fafafa;
	padding: 1em 0em;
	color: #333;
	font-size: 9pt;
	border: 1px solid #ccc;
	border-radius: 2px;
}
/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
	padding: 1em 0em;
	color: #333;
}
.popup-menu-item {
	color: #333;
	padding: .4em 1.75em;
	spacing: 1em;
	border: 1px solid transparent;
	border-left: 0;
	border-right: 0;
	text-shadow: 1px 1px 0 0 rgba(255,255,255,0.5);
}
.popup-menu-item:active {
	border: solid #44a1df;
	border-top: 1px;
	border-bottom: 1px;
	border-left: 0;
	border-right: 0;
	background-gradient-direction: vertical;
	background-gradient-start: #6ebdf3;
	background-gradient-end: #3f9cdb;
	box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.2);
	color: #fff;
	text-shadow: 1px 1px 0 0 rgba(0,0,0,0.2);
	transition-duration: 150;
}
.popup-menu-item:insensitive {
	color: #999;
}
.popup-image-menu-item {
}
.popup-combobox-item {
	spacing: 1em;
}
.popup-separator-menu-item {
	-margin-horizontal: 0em;
	background-color: #b2b2b2;
	border: 1px solid #fff;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	height: 0.1em;
}
.popup-alternating-menu-item:alternate {
	font-weight: bold;
}
.popup-slider-menu-item {
	background-color: rgba(0,0,0,0);
	height: 1.2em;
	min-width: 15em;
	-slider-height: 3px;
	-slider-background-color: #eee;
	-slider-border-color: #aaa;
	-slider-active-background-color: #555;
	-slider-active-border-color: #555;
	-slider-border-width: 1px;
	-slider-handle-radius: 7px;
}
.popup-device-menu-item {
	spacing: .5em;
}
.popup-inactive-menu-item {
	font-weight: normal;
	color: #999;
}
.popup-subtitle-menu-item {
	font-weight: bold;
	color: #333;
}
.popup-menu-icon {
	icon-size: 1.2em;
}
/* Switches (to be used in menus) */
.toggle-switch {
	width: 46px;
	height: 22px;
}
.toggle-switch-us {
	background-image: url("switch-off.svg");
}
.toggle-switch-us:checked {
	background-image: url("switch-on.svg");
}
.toggle-switch-intl {
	background-image: url("switch-off.svg");
}
.toggle-switch-intl:checked {
	background-image: url("switch-on.svg");
}
.nm-menu-item-icons {
	spacing: .5em;
}
/* ===================================================================
 * Panel (panel.js)
 * ===================================================================*/
#panel {
	background-color: rgba(0,0,0,0.6);
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
	color: #fff;
	font-size: 9pt; 
	font-weight: bold;
	height: 26px;
}
#panelLeft {
	spacing: 4px;
}
#panelCenter {
	spacing: 4px;
}
#panelLeft:dnd {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,0,0,0.05);
	background-gradient-end: rgba(255,0,0,0.2);
}
#panelCenter:dnd {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,255,0,0.05);
	background-gradient-end: rgba(0,255,0,0.2);
}
#panelRight:dnd {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,0,255,0.05);
	background-gradient-end: rgba(0,0,255,0.2);
}
#panelLeft:ltr {
	padding-right: 4px;
}
#panelLeft:rtl {
	padding-left: 4px;
}
#panelRight:ltr { 
	padding-left: 0;
	spacing: 0;
}
#panelRight:rtl {
	padding-right: 0;
	spacing: 0;
}
.panel-top {
}
.panel-bottom {
}
.panel-status-button {
	border: solid transparent;
	border-top: 1px;
	border-bottom: 1px;
	border-left: 0;
	border-right: 0;	
	-natural-hpadding: 8px;
	-minimum-hpadding: 8px;
	padding-left: 4px;
	padding-right: 4px;
	font-weight: bold;
	color: #ddd;
	height: 22px;
}
.panel-status-button:hover {
	border-top: 1px;
	border-bottom: 1px;
	border-left: 0;
	border-right: 0;
	border: solid #6bb2e1;
	background-gradient-direction: vertical;
	background-gradient-start: #6ebdf3;
	background-gradient-end: #3f9cdb;
	color: #fff;
	transition-duration: 150;
}
.system-status-icon {
	padding-left: 0;
	padding-right: 0;
	spacing: 0;
	margin: 0;
	icon-size: 16px;
}

.panel-corner {
	-panel-corner-radius: 0;
	-panel-corner-background-color: black;
	-panel-corner-inner-border-width: 2px;
	-panel-corner-inner-border-color: transparent;
	-panel-corner-outer-border-width: 1px;
	-panel-corner-outer-border-color: #536272;
}
.panel-corner:active,
.panel-corner:overview,
.panel-corner:focus {
	-panel-corner-inner-border-color: rgba(255,255,255,0.8);
}
#appMenu {
	spacing: 4px;
}
.panel-button #appMenuIcon {
	app-icon-bottom-clip: 1px;
}
.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
	app-icon-bottom-clip: 2px;
}
.panel-button {
	-natural-hpadding: 6px;
	-minimum-hpadding: 2px;
	font-weight: bold;
	color: #ddd;
	transition-duration: 150;
}
.panel-button:hover {
	color: #fff;
	transition-duration: 150;
}
.panel-button:active,
.panel-button:overview,
.panel-button:focus {
	background-gradient-direction: vertical;
	background-gradient-start: #6ebdf3;
	background-gradient-end: #3f9cdb;
	box-shadow: inset 0 0 1px 1px #44a1df;
}
.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
}
.panel-menu {
	-boxpointer-gap: 4px
}
.popup-menu-item-dot {
}
/* ===================================================================
 * Overview 
 * ===================================================================*/
#overview {
	spacing: 12px;
}
.window-caption {
	background-color: rgba(248,248,248,1);
	border: 1px solid #b2b2b2;
	border-radius: 2px;
	padding: 4px;
	color: #333;
	font-size: 9pt;
	padding: 2px 8px;
	-cinnamon-caption-spacing: 4px;
}
.window-caption#selected {
	background-gradient-direction: vertical;
	background-gradient-start: #6ebdf3;
	background-gradient-end: #3f9cdb;
	border: 1px solid #44a1df;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 0 0 rgba(0,0,0,0.2);
}
.workspace-controls {
	visible-height: 32px; /* Amount visible before hovering */
}
.workspace-thumbnails-background {
	background-color: rgba(0,0,0,0.5);
	border: 1px solid rgba(0,0,0,0.5);
	border-right: 0;
	border-radius: 0 8px 8px 0;
	box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.1);
	border-radius: 6px 0 0 6px;
	padding: 12px;
}
.workspace-thumbnails-background:rtl {
	border-right: 1px;
	border-left: 0;
	border-radius: 8px 8px 0 0;
}
.workspace-thumbnails {
	spacing: 20px;
}
.workspace-add-button {
	background-image: url("workspace-add.svg");
	height: 50px;
	width: 35px;
}
.workspace-add-button:hover {
	background-image: url("workspace-add.svg");
	transition-duration: 150;
}
.workspace-close-button {
	background-image: url("closeall.svg");
	height: 35px;
	width: 35px;
	transition-duration: 150;
	-cinnamon-close-overlap: 20px;
	-st-background-image-shadow: -2px 2px 6px rgba(0,0,0,0.5);
}
.workspace-thumbnail-indicator {
	outline: 2px solid #6eabed;
}
.window-caption#selected {
	background-gradient-direction: vertical;
	background-gradient-start: #6ebdf3;
	background-gradient-end: #3f9cdb;
	border: 1px solid #44a1df;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 0 0 rgba(0,0,0,0.2);
}
.window-close {
	background-image: url("closeall.svg");
	height: 35px;
	width: 35px;
	-cinnamon-close-overlap: 20px;
	-st-background-image-shadow: -2px 2px 6px rgba(0,0,0,0.5);
}
.window-close:rtl {
	-st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}
.window-close-area {
	background-image: url("trashbox.svg");
	height: 120px;
	width: 224px;
}
.overview-icon {
	border-radius: 4px;
	padding: 3px;
	border: 1px rgba(0,0,0,0);
	font-size: 7.5pt;
	color: #fff;
	transition-duration: 150;
	text-align: center;
}
.expo-background {
	background-color: rgba(0,0,0,0.5);
}
.workspace-overview-background-shade {
	background-color: rgba(0,0,0,0.5);
}
.expo-workspace-thumbnail-frame {
}

.expo-workspace-thumbnail-frame#active {
}

/* ===================================================================
 * Looking Glass 
 * ===================================================================*/
#LookingGlassDialog {
	background-color: rgba(85,85,85,0.85);
	spacing: 4px;
	padding: 4px;
	border: 2px solid grey;
	border-radius: 4px;
	color: #CCCCCC;
}
#LookingGlassDialog > #Toolbar {
	border: 1px solid grey;
	border-radius: 4px;
}
#LookingGlassDialog .labels {
	spacing: 4px;
}
#LookingGlassDialog .notebook-tab {
	padding: 2px;
}
#LookingGlassDialog .notebook-tab:hover {
	color: #FFFFFF;
}
#LookingGlassDialog .notebook-tab:selected {
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	padding: 5px;
}
#LookingGlassDialog .lg-inspector-title {
	font-weight: bold;
	padding-bottom: 8px;
}
.lg-dialog StLabel {
	color: #cccccc;
}
.lg-dialog StEntry {
	color: #cccccc;
	selection-background-color: #cccccc;
	selected-color: black;
}
.lg-obj-inspector-title {
	spacing: 4px;
}
.lg-obj-inspector-button {
	border: 1px solid #cccccc;
	padding: 4px;
	border-radius: 4px;
}
.lg-obj-inspector-button:hover {
	border: 1px solid #ffffff;
}
.lg-dialog .cinnamon-link {
	color: #cccccc;
}
.lg-dialog .cinnamon-link:hover {
	color: #ffffff;
}
#LookingGlassDialog StBoxLayout#EvalBox {
	padding: 4px;
	spacing: 4px;
}
#LookingGlassDialog StBoxLayout#ResultsArea {
	spacing: 4px;
}
#lookingGlassExtensions {
	padding: 4px;
}
.lg-extension-list {
	padding: 4px;
	spacing: 6px;
}
.lg-extension {
	border: 1px solid #6f6f6f;
	border-radius: 4px;
	padding: 4px;
}
.lg-extension-name {
	font-weight: bold;
}
.lg-extension-meta {
	spacing: 6px;
}
#LookingGlassPropertyInspector {
	background: rgba(0, 0, 0, 0.9);
	border: 2px solid grey;
	border-radius: 4px;
	padding: 6px;
	color: #cccccc;
}
/* ===================================================================
 * Date applet 
 * ===================================================================*/
.calendar {
	padding: .4em 1.75em;
	spacing-rows: 0;
	spacing-columns: 0;
}
.calendar-month-label {
	color: #333;
	font-size: 9pt;
	padding: 4px;
	font-weight: bold;
}
.calendar-change-month-back {
	width: 20px;
	height: 20px;
	background-image: url("calendar-arrow-left.svg");
}
.calendar-change-month-back:rtl {
	background-image: url("calendar-arrow-right.svg");
}
.calendar-change-month-back:hover {
    	background-image: url("calendar-arrow-left-hover.svg");
}
.calendar-change-month-back:active {
        background-image: url("calendar-arrow-left-hover.svg");
}
.calendar-change-month-back:hover:rtl {
	background-image: url("calendar-arrow-right-hover.svg");
}
.calendar-change-month-back:active:rtl {
	background-image: url("calendar-arrow-right-hover.svg");
}
.calendar-change-month-forward {
	width: 20px;
	height: 20px;
	background-image: url("calendar-arrow-right.svg");
	border-radius: 2px;
}
.calendar-change-month-forward:rtl {
	background-image: url("calendar-arrow-left.svg");
}
.calendar-change-month-forward:hover {
    	background-image: url("calendar-arrow-right-hover.svg");
}
.calendar-change-month-forward:active {
    	background-image: url("calendar-arrow-right-hover.svg");
}
.calendar-change-month-forward:hover:rtl {
	background-image: url("calendar-arrow-left-hover.svg");
}
.calendar-change-month-forward:active:rtl {
	background-image: url("calendar-arrow-left-hover.svg");
}
.datemenu-date-label {
	padding: .4em 1.75em;
	font-size: 9pt;
	color: #333;
	text-align: center;
}
.calendar-day-base {
	font-size: 9pt;
	text-align: center;
	width: 2.4em;
	height: 2.4em;
}
.calendar-day-base:hover {
}
.calendar-day-base:active {
	background-color: #44a1df;
	color: #fff;
}
.calendar-day-heading {
	color: #333;
	padding-top: 1em;
}
.calendar-week-number {
	color: #333;
	font-weight: bold;
}
/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day:ltr {
	border: 1px solid #ddd;
	border-top-width: 0;
	border-left-width: 0;
}
.calendar-day-top:ltr {
	border-top-width: 1px;
}
.calendar-day-left:ltr {
	border-left-width: 1px;
}
.calendar-day:rtl {
	border-top-width: 0;
	border-right-width: 0;
}
.calendar-day-top:rtl {
	border-top-width: 1px;
}
.calendar-day-left:rtl {
	border-right-width: 1px;
}
.calendar-work-day {
}
.calendar-nonwork-day {
	background-color: rgba(128,128,128,0.1);
}
.calendar-today {
	text-shadow: 1px 1px 0 0 rgba(0,0,0,0.2);
	color: #fff;
	font-weight: bold;
	background-color: #44a1df;
}
.calendar-other-month-day {
	color: #999;
}
.calendar-day-with-events {
	font-weight: bold;
}
/* ===================================================================
 * Notifications
 * ===================================================================*/
#notification {
	font-size: 9pt;
	border-radius: 6px;
	border: 1px solid #b2b2b2;
	background-color: rgba(248,248,248,1);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	padding: 8px 8px 8px 8px;
	spacing-rows: 10px;
	spacing-columns: 10px;
	margin-from-right-edge-of-screen: 20px;
	width: 34em;
	color: #333;
}
#notification.multi-line-notification {
	padding-bottom: 8px;
	color: #333;
}
/* We use row-span = 2 for the image cell, which prevents its height preferences to be
	taken into account during allocation, so its height ends up being limited by the height
	of the content in the other rows. To avoid showing a stretched image, we set the minimum
	height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
	min-height: 159px;
}
#notification-scrollview {
	max-height: 10em;
}
#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
	height: 1em;
}
#notification-scrollview:ltr > StScrollBar {
	padding-left: 6px;
}
#notification-scrollview:rtl > StScrollBar {
	padding-right: 6px;
}
#notification-body {
	spacing: 5px;
}
#notification-actions {
	spacing: 10px;
}
.notification-button {
	padding: 4px 42px 5px;
}
.notification-button:focus {
	padding: 3px 41px 4px;
}
.notification-icon-button {
	border-radius: 4px;
	padding: 5px;
}
.notification-icon-button:focus {
	padding: 4px;
}
.notification-icon-button > StIcon {
	icon-size: 24px;
}
.hotplug-transient-box {
	spacing: 6px;
	padding: 2px 72px 2px 12px;
}
.hotplug-notification-item {
	padding: 2px 10px;
	border-radius: 4px;
	font-size: 9pt;
}
.hotplug-notification-item:focus {
	padding: 1px 71px 1px 11px;
}
.hotplug-notification-item-icon {
	icon-size: 24px;
	padding: 2px 5px;
}
.hotplug-resident-box {
	spacing: 8px;
}
.hotplug-resident-mount {
	spacing: 8px;
	border-radius: 4px;
	color: #333;
}
.hotplug-resident-mount:hover {
	background-gradient-direction: vertical;
	background-gradient-start: #6ebdf3;
	background-gradient-end: #3f9cdb;
	box-shadow: inset 0 0 1px 1px #44a1df;
	border-radius: 2px;
	color: #fff;
}
.hotplug-resident-mount-label {
	color: inherit;
	padding-left: 6px;
}
.hotplug-resident-mount-icon {
	icon-size: 24px;
	padding-left: 6px;
}
.hotplug-resident-eject-icon {
	icon-size: 16px;
}
.hotplug-resident-eject-button {
	padding: 7px;
	border-radius: 4px;
	color: #333;
}
#notification StEntry {
	padding: 4px;
	border-radius: 2px;
	border: 1px solid #6bb2e1;
	color: #333;
	background-color: #f8f8f8;
	box-shadow: inset 0 0 1px 1px #c7deee;
	caret-color: #333;
	caret-size: 1px;
	selection-background-color: #6bb2e1;
	selected-color: #fff;
}
#notification StEntry:focus {
	color: #333;
	border: 1px solid #6bb2e1;
}
/* ===================================================================
 * Alt Tab
 * ===================================================================*/
#altTabPopup {
	padding: 8px;
	spacing: 16px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.switcher-list {
	background-color: #fafafa;
	border: 1px solid #888;
	border-radius: 6px;
	color: #333;
	padding: 20px;
	font-size: 9pt;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.switcher-list-item-container {
	spacing: 8px;
}
.thumbnail-scroll-gradient-left {
	background-gradient-direction: horizontal;
	background-gradient-start: rgba(255,255,255,1.0);
	background-gradient-end: rgba(255,255,51,0);
	border-radius: 24px;
	border-radius-topright: 0;
	border-radius-bottomright: 0;
	width: 60px;
}

.thumbnail-scroll-gradient-right {
	background-gradient-direction: horizontal;
	background-gradient-start: rgba(255, 255, 255, 0);
	background-gradient-end: rgba(255, 255, 255, 1.0);
	border-radius: 24px;
	border-radius-topleft: 0;
	border-radius-bottomleft: 0;
	width: 60px;
}
.switcher-list .item-box {
	padding: 8px;
	border-radius: 8px;
}
.switcher-list .item-box {
	padding: 8px;
	border-radius: 2px;
	border: 1px solid transparent;
}
.switcher-list .item-box:outlined {
	background-color: #fff;
	border: 1px solid #fff;
	color: #333;
	border-radius: 2px;
}

.switcher-list .item-box:selected {
	background-color: #e3e3e3;
	color: #333;
	border-radius: 4px;
}

.switcher-list .thumbnail-box {
	padding: 2px;
	spacing: 4px;
}
.switcher-list .thumbnail {
	width:	256px;
}
.switcher-list .separator {
	width: 1px;
	background-color: #333;
	border: 1px solid #fff;
	border-left: 0;
	border-right: 0;
	border-top: 0;
}
.ripple-box {
	width: 104px;
	height: 104px;
	background-image: url("corner-ripple.svg");
}
.ripple-box:rtl {
	background-image: url("corner-ripple.svg");
}
.switcher-arrow {
	color: #6eabec;
}

.switcher-arrow:highlighted {
	color: #6eabec;
}
.switcher-preview-backdrop {
	background-color: rgba(0,0,0,0.5);
}
/* ===================================================================
 * Modal dialogs
 * ===================================================================*/
.modal-dialog {
	font-size: 9pt;
	background-color: rgba(248,248,248,1);
	border: 1px solid #b2b2b2;
	border-radius: 6px;
	color: #333;
	padding-right: 42px;
	padding-left: 42px;
	padding-bottom: 30px;
	padding-top: 30px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.modal-dialog-button-box {
	spacing: 21px;
}
.modal-dialog-button {
	color: #333;
	border: 1px solid #bbb ;
	border-radius: 2px;
	background-color: #f7f7f7;
	box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.7);
	font-size: 9pt;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.modal-dialog-button:disabled {
	color: #999;
}
.modal-dialog-button:focus {
	border: 1px solid #3a98d8;
	background-color: #f2f2f2;
	text-shadow: 1px 1px 0 0 rgba(255,255,255,0.5);
	box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.7);
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 5px;
	padding-bottom: 5px;
}
/* ===================================================================
 * Run dialog
 * ===================================================================*/
.run-dialog-label {
	font-size: 9pt;
	color: #333;
	padding: 0.5em;
}
.run-dialog-error-label {
	font-size: 9pt;
	color: #333;
}
.run-dialog-error-box {
	padding-top: 15px;
	spacing: 5px;
}
.run-dialog-completion-box { 
        padding-left: 15px;
        font-size: 9pt;
}
.run-dialog-entry {
	caret-size: 1px;
	font-size: 9pt;
	width: 23em;
	border-radius: 2px;
	color: #333;
	caret-color: #333;
	border: 1px solid #6bb2e1;
	box-shadow: inset 0 0 1px 1px #c7deee;
	background-gradient-direction: vertical;
	background-gradient-start: #ededed;
	background-gradient-end: #fafafa;
	padding: 4px;
	selected-color: #fff;
	selection-background-color: #6bb2e1;
}
.run-dialog {
	padding: 10px;
	background-color: rgba(248,248,248,1);
	border: 1px solid #b2b2b2;
	border-radius: 6px;
	color: #333;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.lightbox {
	background-color: rgba(0,0,0,0.5);
}
/* ===================================================================
 * End session dialog
 * ===================================================================*/
.end-session-dialog {
	spacing: 42px;
}
.end-session-dialog-subject {
	font-size: 9pt;
	font-weight: bold;
	color: #333;
	padding-top: 10px;
	padding-left: 17px;
	padding-bottom: 30px;
}
.end-session-dialog-subject:rtl {
	padding-left: 0;
	padding-right: 17px;
}
.end-session-dialog-description {
	font-size: 9pt;
	color: #333;
	padding-left: 17px
	padding-top: 28px;
	width: 28em;
}
.end-session-dialog-description:rtl {
	padding-right: 17px;
}
.end-session-dialog-logout-icon {
	border: 1px solid #b2b2b2;
	box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.5);
	border-radius: 2px;
	width: 48px;
	height: 48px;
}
.end-session-dialog-shutdown-icon {
	color: #fff;
	background-image: url("system-shutdown.svg");
	background-size: contain;
	width: 48px;
	height: 48px;
}
.end-session-dialog-app-list {
	font-size: 9pt;
	max-height: 200px;
	padding-top: 42px;
	padding-bottom: 42px;
	padding-left: 17px;
	padding-right: 32px;
}
.end-session-dialog-app-list:rtl {
	padding-right: 49px;
	padding-left: 32px;
}
.end-session-dialog-app-list-item {
	padding-right: 1em;
}

.end-session-dialog-app-list-item-icon {
	padding-right: 17px;
}
.end-session-dialog-app-list-item-name {
	font-size: 9pt;
}
.end-session-dialog-app-list-item-description {
	font-size: 9pt;
	color: #333;
}
/* CinnamonMountOperation Dialogs */
.cinnamon-mount-operation-icon {
	icon-size: 48px;
}
.mount-password-reask {
	color: red;
}
.show-processes-dialog,
.mount-question-dialog {
	spacing: 24px;
}
.show-processes-dialog-subject,
.mount-question-dialog-subject {
	font-size: 9pt;
	font-weight: bold;
	color: #333;
	padding-top: 10px;
	padding-left: 17px;
	padding-bottom: 6px;
}
.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
	padding-left: 0;
	padding-right: 17px;
}
.show-processes-dialog-description,
.mount-question-dialog-description {
	font-size: 9pt;
	color: #333;
	padding-left: 17px;
	width: 28em;
}
.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
	padding-right: 17px;
}
.show-processes-dialog-app-list {
	font-size: 9pt;
	max-height: 200px;
	padding-top: 24px;
	padding-left: 49px;
	padding-right: 32px;
}
.show-processes-dialog-app-list:rtl {
	padding-right: 49px;
	padding-left: 32px;
}
.show-processes-dialog-app-list-item {
	color: #333;
}
.show-processes-dialog-app-list-item:hover {
	color: #333;
}
.show-processes-dialog-app-list-item:ltr {
	padding-right: 1em;
}
.show-processes-dialog-app-list-item:rtl {
	padding-left: 1em;
}
.show-processes-dialog-app-list-item-icon:ltr {
	padding-right: 17px;
}
.show-processes-dialog-app-list-item-icon:rtl {
	padding-left: 17px;
}
.show-processes-dialog-app-list-item-name {
	font-size: 9pt;
}
/* ===================================================================
 * Policykit authentication dialog
 * ===================================================================*/
.polkit-dialog {
	/* this is the width of the entire modal popup */
	width: 500px;
}
.polkit-dialog-main-layout {
	spacing: 24px;
	padding: 10px;
}
.polkit-dialog-message-layout {
	spacing: 16px;
}
.polkit-dialog-headline {
	font-size: 9pt;
	font-weight: bold;
	color: #333;
}
.polkit-dialog-description {
	font-size: 9pt;
	color: #333;
}
.polkit-dialog-user-layout {
	padding-left: 10px;
	spacing: 10px;
}
.polkit-dialog-user-layout:rtl {
	padding-left: 0;
	padding-right: 10px;
}
.polkit-dialog-user-root-label {
	border-radius: 4px;
	color: #dd0000;
	font-weight: bold;
	padding: 4px;
}
.polkit-dialog-password-label:ltr {
	padding-right: 0.5em;
}
.polkit-dialog-password-label:rtl {
	padding-left: 0.5em;
}
.polkit-dialog-password-entry {
	padding: 4px;
	border-radius: 2px;
	color: #333;
	border: 1px solid #ccc;
	box-shadow: inset 0 0 1px 1px #eee;
	background-gradient-direction: vertical;
	background-gradient-start: #ededed;
	background-gradient-end: #fafafa;
	caret-color: #333;
	caret-size: 1px;
	selection-background-color: #6bb2e1;
	selected-color: #fff;
}
.polkit-dialog-password-entry:focus {
	border-radius: 2px;
	color: #333;
	border: 1px solid #6bb2e1;
	box-shadow: inset 0 0 1px 1px #c7deee;
}
.polkit-dialog-password-entry .capslock-warning {
	icon-size: 16px;
	warning-color: #333;
	padding: 0 4px;
}
.polkit-dialog-error-label {
	font-size: 9pt;
	font-weight: bold;
	color: #dd0000;
	padding-bottom: 8px;
}
.polkit-dialog-info-label {
	font-size: 9pt;
	padding-bottom: 8px;
}
/* intentionally left transparent to avoid dialog changing size */
.polkit-dialog-null-label {
	font-size: 9pt;
	color: rgba(0,0,0,0);
	padding-bottom: 8px;
}
.network-dialog-secret-table {
	spacing-rows: 15px;
}
/* ===================================================================
 * Magnifier
 * ===================================================================*/

.magnifier-zoom-region {
	border: 1px solid #b2b2b2;
}
.magnifier-zoom-region.full-screen {
	border-width: 0;
}
/* ===================================================================
 * On screen keyboard
 * ===================================================================*/

#keyboard {
	background: rgba(0,0,0,0.5);
	color: #ddd;
}
.keyboard-layout {
	spacing: 10px;
	padding: 10px;
}
.keyboard-row {
	spacing: 15px;
}
.keyboard-key {
	min-height: 25px;
	min-width: 25px;   
	background-gradient-start: #6eabec;
	background-gradient-end: #3880ca;
	background-gradient-direction: vertical;
	box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.1);
	font-size: 16pt;
	font-weight: bold;
	border-radius: 4px;
	color: #ddd;
}
.keyboard-key:grayed {
	color: #ccc;
}
.keyboard-key:checked,
.keyboard-key:hover {
	background-gradient-start: #6eabec;
	background-gradient-end: #3880ca;
	background-gradient-direction: vertical;
	box-shadow: inset 0 0 2px 2px rgba(255,255,255,0.4);
	color: #fff;
	transition-duration: 150;
}
.keyboard-key:active {
	background-gradient-start: #6eabec;
	background-gradient-end: #3880ca;
	background-gradient-direction: vertical;
	box-shadow: inset 0 0 2px 2px rgba(255,255,255,0.2);
	text-shadow: 1px 1px 0 0 rgba(0,0,0,0.2);

}
.keyboard-subkeys {
	color: white;
	padding: 5px;
	-arrow-border-radius: 10px;
	-arrow-background-color: #090909;
	-arrow-border-width: 2px;
	-arrow-border-color: white;
	-arrow-base: 20px;
	-arrow-rise: 10px;
	-boxpointer-gap: 5px;
}
/* ###################################################################
 * Cinnamon Specific Section 
 * ###################################################################*/
/* ===================================================================
 * Menu (menu.js)
 * ===================================================================*/
/* Main menu title */

.menu-favorites-box {
	margin: auto;
	padding: 9px;
	border: 1px solid #b1b1b1;
	border-left: 0px;
	border-top: 0px;
	border-bottom: 0px;
	box-shadow: 1px 0px 0px 0px #fff;
	background-color: transparent;
}
.menu-favorites-button {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.menu-favorites-button:hover {
	color: #333;
	background-color: rgba(227,227,227,0.99);
	border-radius: 4px;
	transition-duration: 150;
}
.menu-help-button {
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
}
.menu-help-button:hover {
	color: white;
	border: 1px solid #44a1df;
        background-gradient-direction: vertical;
        background-gradient-start: #6ebdf3;
        background-gradient-end: #3f9cdb;
        box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.2);
        text-shadow: 1px 1px 0px 0px rgba(0,0,0,0.2);
        transition-duration: 150;
}
.menu-places-box {
	width: 50px;
	margin: auto;
	padding: 10px;
	border: 0px solid #666;
}
.menu-places-button {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.menu-categories-box {
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
}
.menu-applications-box {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
}
.menu-application-button {
	padding-top: 7px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
}
.menu-application-button:highlighted {
	/* This style is used in menu application buttons for applications which were newly installed */
	font-weight: bold;
}
.menu-application-button:hover,
.menu-application-button-selected {
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	color: white;
	border: 1px solid #44a1df;
	background-gradient-direction: vertical;
	background-gradient-start: #6ebdf3;
	background-gradient-end: #3f9cdb;
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.2);
	text-shadow: 1px 1px 0px 0px rgba(0,0,0,0.2);
	transition-duration: 150;

}
.menu-application-button-selected:highlighted {
	/* This style is used in menu application buttons for applications which were newly installed */
	font-weight: bold;
}
.menu-application-button-label:ltr { 
	padding-left: 5px;
}
.menu-application-button-label:rtl { 
	padding-right: 5px;
}
.menu-place-cat-button-label:ltr {
	padding-top: 4px;
	padding-left: 5px;
}
.menu-place-cat-button-label:rtl {
	padding-top: 4px;
	padding-right: 5px;
}
.menu-category-button {
	padding-top: 7px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
}
.menu-category-button-greyed {
	padding-top: 7px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	color: #9C9C9C;
	font-style: italic;
}
.menu-category-button-selected {
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	color: white;
	border: 1px solid #44a1df;
        background-gradient-direction: vertical;
        background-gradient-start: #6ebdf3;
        background-gradient-end: #3f9cdb;
        box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.2);
        text-shadow: 1px 1px 0px 0px rgba(0,0,0,0.2);
	transition-duration: 150;
}
.menu-category-button-label:ltr {
	padding-left: 5px;
}
.menu-category-button-label:rtl {
	padding-right: 5px;

}
.menu-category-button-button:hover {
	background-color: #969696;
	border-radius: 8px;
	transition-duration: 150;
}
/* Name and description of the currently hovered item in the menu
 * This appears on the bottom right hand corner of the menu*/
.menu-selected-app-box {
	padding-right: 30px;
	padding-left: 28px;
	text-align: right;
}

.menu-selected-app-box:rtl {
	padding-top: 10px;
	height: 30px;
}

.menu-selected-app-title {
	font-weight: bold;
}
.menu-selected-app-description {
	max-width: 150px;
}
.menu-search-box:ltr {
	padding-left: 30px;
}
.menu-search-box:rtl {
	padding-right: 30px;
}
#menu-search-entry {
	padding: 4px 8px;
	border-radius: 3px;
        color: #333;
        border: 1px solid #ccc;
        box-shadow: inset 0px 0px 1px 1px #eee;
        background-gradient-direction: vertical;
	background-gradient-start: #ededed;
	background-gradient-end: #fafafa;
        caret-color: #333;
        caret-size: 1px;
	selection-background-color: #6bb2e1;
	selected-color: #fff;
        height: 16px;
        width: 250px;
}
#menu-search-entry:focus,
#menu-search-entry:hover {
	border-radius: 3px;
        color: #333;
        border: 1px solid #6bb2e1;
        box-shadow: inset 0px 0px 1px 1px #c7deee;

}
#menu-search-entry:hover {
	transition-duration: 150;
}
#menu-search-entry:focus {
}
.menu-search-entry-icon {
	icon-size: 1em;
	color: #333;
}
/* Context menu (at the moment only for favorites) */
.menu-context-menu {
}
/* Context menu (at the moment only for favorites) */
.menu-context-menu {
}
/* ===================================================================
 * Window list (windowList.js)
 * ===================================================================*/
.window-list-box {
	spacing: 0;
	padding-left: 7px;
	padding-top: 1px;
}
.window-list-item-label {
	font-weight: bold;
	width: 15em;
	min-width: 5px;
}
.window-list-item-box {
	color: rgba(255,255,255,1.0);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.05);
	background-gradient-end: rgba(255,255,255,0.2);
	box-shadow: inset 0 0 1px 1px rgba(170,170,170,0.5);
	border-radius: 2px;
	padding-left: 5px;
	padding-right: 5px;
	transition-duration: 150;
}
.window-list-item-box:active,
.window-list-item-box:checked,
.window-list-item-box:focus	{ 
	background-gradient-direction: vertical;
	background-gradient-start: #6ebdf3;
	background-gradient-end: #3f9cdb;
	box-shadow: inset 0 0 1px 1px #44a1df;
	text-shadow: 1px 1px 0 0 rgba(0,0,0,0.2);
}
.window-list-item-box:hover	{ 
	background-gradient-direction: vertical;
	background-gradient-start: #6ebdf3;
	background-gradient-end: #3f9cdb;
	box-shadow: inset 0 0 1px 1px #44a1df;
	text-shadow: 1px 1px 0 0 rgba(0,0,0,0.2);
	transition-duration: 150;
}
.window-list-item-demands-attention {
	background-gradient-start: rgba(255,52,52,0.5);
	background-gradient-end: rgba(255,144,144,0.5);
}
/* ===================================================================
 * Sound Applet (status/volume.js)
 * ===================================================================*/
.sound-button-container {
	padding-right: 3px;
	padding-left: 3px;
}
.sound-button {
	width: 20px;
	height: 18px;
	font-weight: bold;
	border: 1px solid #ccc;
	background-color: #f2f2f2;
	box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.7);
	border-radius: 2px;
	color: #333;
	padding: 5px;
	transition-duration: 150;
}
.sound-button:hover {
	color: #333;
	border: 1px solid #bbb ;
	background-color: #fff;
}
.sound-button:active {
	border: 1px solid #bbb;
	background-color: #e9e9e9;
	box-shadow: inset 0 0 1px 1px #dadada;
}
.sound-button StIcon {
	icon-size: 1.4em;
}
.sound-track-infos {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.sound-track-info {
	padding-top: 2px;
	padding-bottom: 2px;
}
.sound-track-info StIcon {
	icon-size: 1em;

}
.sound-track-info StLabel {
	padding-left: 5px;
	padding-right: 5px;
}
.sound-track-box {	
	padding-left: 15px;
	padding-right: 15px;	
	max-width: 220px;
}
.sound-seek-box {
	padding-left: 20px;
}
.sound-seek-box StLabel {
	padding-top: 2px;
}
.sound-seek-box StIcon {
	icon-size: 1em;
}
.sound-seek-slider {
	width: 140px;   
}
.sound-volume-menu-item {
	padding: .4em 1.75em;
}
.sound-volume-menu-item StIcon {
	icon-size: 1.14em;
	padding-left: 8px;
	padding-right: 8px;
}
.sound-playback-control {
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
/* ===================================================================
 * Workspace Switcher applet (workspaceSwitcher.js)
 * ===================================================================*/
#workspaceSwitcher {
	spacing: 0;
	padding: 3px;
	
}
.workspace-button {
	width: 20px;
	height: 10px;
	color: #fff;
	border: 1px;
	border-color: #ffffff;
	padding: 2px;
	transition-duration: 150;
}
.workspace-button:outlined {
	padding: 1px;
	background: #6ebdf3;
	color: #fff;
	box-shadow: inset 0 0 8px 1px rgba(255,255,255, 0.7);
}
/* ===================================================================
 * Panel Launchers Applet (panelLaunchers.js)
 * ===================================================================*/
#panel-launchers-box {
}
.panel-launcher {
	margin: 0;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 0;
	transition-duration: 150;
}
.panel-launcher:hover {
	color: #fff;
	font-weight: bold;
	border-bottom-width: 1px;
	transition-duration: 150;
}
.panel-launcher-add-dialog-content-box {
	padding: 6px;
	spacing: 20px;
}
.panel-launcher-add-dialog-content-box-left {
	padding: 6px;
	spacing: 20px;
}
.panel-launcher-add-dialog-content-box-right {
	padding: 6px;
	spacing: 10px;
}
.panel-launcher-add-dialog-entry {
	padding: 4px 8px;
	border-radius: 2px;
	color: #333;
	border: 1px solid #ccc;
	box-shadow: inset 0 0 1px 1px #c7deee;
	background-gradient-direction: vertical;
	background-gradient-start: #ededed;
	background-gradient-end: #fafafa;
	caret-color: #333;
	caret-size: 1px;
	selection-background-color: #6bb2e1;
	selected-color: #fff;
	height: 16px;
	width: 250px;
}
.panel-launcher-add-dialog-entry:focus,
.panel-launcher-add-dialog-entry:hover {
	border: 1px solid #6bb2e1;
	box-shadow: inset 0 0 1px 1px #c7deee;
}
.panel-launcher-add-dialog-entry:hover {
}
.panel-launcher-add-dialog-entry:focus {
}
/* ===================================================================
 * Overview corner
 * ===================================================================*/
#overview-corner {
	background-image: url("overview.png");
}
#overview-corner:hover {
	background-image: url("overview-hover.png");
}
/* ===================================================================
 * Applets (applet.js) 
 * ===================================================================*/
.applet-separator {
	padding: 5px 4px;
}
.applet-separator-line {
	width: 1px;
	background: #fff;
}
.applet-box {
	padding-left: 8px;
	padding-right: 8px;	
	color: #fefefe;
	min-width: 1em;
	border: solid transparent;
	border-top: 1px;
	border-bottom: 1px;
	border-left: 0;
	border-right: 0;
	
}
.applet-box:hover {
	border-top: 1px;
	border-bottom: 1px;
	border-left: 0;
	border-right: 0;
	border: solid #6bb2e1;
	color: #fff;
	padding-left: 8px;
	padding-right: 8px;
	box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.2);
	background-gradient-direction: vertical;
	background-gradient-start: #6ebdf3;
	background-gradient-end: #3f9cdb;
	transition-duration: 150;
}
.applet-label {	
	font-weight: bold;
	color: #fefefe;		
}
.applet-label:hover,
.applet-box:hover > .applet-label {
	color: #fff;
	text-shadow: 1px 1px 0 0 rgba(0,0,0,0.2);

}
.applet-icon {
	color: #fefefe;
	size: 24px;
}
.applet-icon:hover,
.applet-box:hover > .applet-icon {
	color: #fff;
}
/* ===================================================================
 * Desklets (desklet.js) 
 * ===================================================================*/
.desklet {        
	color: #fff; 
	padding: 5px;   
}
.desklet-with-borders {
	border: 1px solid #b2b2b2;
	background-color: rgba(248,248,248,1);
	color: #333;
	border-radius: 4px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	text-shadow: 1px 1px 0 0 rgba(255,255,255,0.5);
	padding: 5px;
}
.desklet-with-borders-and-header {
	border: 1px solid #b2b2b2;
	background-color: rgba(248,248,248,1);
	color: #333;
	border-radius-bottomleft: 4px;
	border-radius-bottomright: 4px;
	box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
	text-shadow: 1px 1px 0 0 rgba(255,255,255,0.5);
	padding: 5px;
}
.desklet-header { 
	border-radius-topleft: 4px;
	border-radius-topright: 4px;
	font-size: 9pt;
	border: 1px solid #b2b2b2;
	border-bottom: 0;
	background-color: rgba(248,248,248,1);
	color: #333;
	padding: 6px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.desklet-drag-placeholder { 
	border: 1px solid #498af2;
	background-color: rgba(73,138,242,0.5);
}

/* ===================================================================
 * About Dialog (applet.js and desklet.js)
 * ===================================================================*/
.about-content {
    width: 550px;
    height: 250px;
    spacing: 8px;
    padding-bottom: 16px;
}

.about-title {
    font-size: 2em;
    font-weight: bold;
}

.about-uuid {
    font-size: .8em;
}

.about-icon {
    padding-right: 20px;
}

.about-scrollBox {
    border: solid 1px grey;
    border-radius: 4px;
    color: #333;
}

.about-scrollBox-innerBox {
    padding: 1.2em;
    spacing: 1.2em;
}

.about-description {
    padding-top: 4px;
}

.about-version {
    padding-left: 7px;
}

/* ===================================================================
 * Clock Desklet (desklet.js) 
 * ===================================================================*/
.clock-desklet-label {
}

/* ===================================================================
 * Workspace OSD
 * ===================================================================*/
.workspace-osd {
	background-color: rgba(248,248,248,1);
	border: 1px solid #b2b2b2;
	border-radius: 4px;
	color: #333;
	font-size: 20pt;
	padding: 1em 1em;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	text-shadow: 1px 1px 0 0 rgba(255,255,255,0.5);
}
.expo-workspaces-name-entry {
	font-weight: bold;
	selected-color: #498af2;
	caret-color: #333;
	caret-size: 1px;
	background-gradient-direction: vertical;
	background-gradient-start: #ffffff;
	background-gradient-end: #ffffff;
	border-radius: 2px;
	border: 1px solid #b2b2b2;
	color: #333;
	padding: 5px;
	height: 15px;
	transition-duration: 150;
	text-align: center;	
	text-shadow: 1px 1px 0 0 rgba(255,255,255,0.5);
}

.expo-workspaces-name-entry:hover,
.expo-workspaces-name-entry:focus {
	background-gradient-direction: vertical;
	background-gradient-start: #6ebdf3;
	background-gradient-end: #3f9cdb;
	border: 1px solid #44a1df;
	caret-color: #fff;
	color: #fff;
	text-shadow: 1px 1px 0 0 rgba(0,0,0,0.2);
	box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.2);
}
/* ===================================================================
 * Notification Applet
 * ===================================================================*/

.notification-applet-padding {
	padding: .5em 1em;
}

.notification-applet-container {
	max-height: 100px;
}

/* Check Boxes */
.check-box CinnamonGenericContainer {
	spacing: .2em;
	min-height: 20px;
	padding-top: 0;
}
.check-box StBin {
	width: 18px;
	height: 18px;
	background-image: url("checkbox-off.svg");
}

.check-box:focus StBin {
	background-image: url("checkbox-off.svg");
}

.check-box:checked StBin {
	background-image: url("checkbox.svg");
}
.check-box:focus:checked StBin {
	background-image: url("checkbox.svg");
}
.check-box StLabel {
	font-weight: normal;
}
.radiobutton CinnamonGenericContainer {
	spacing: .2em;
	height: 20px;
	padding-top: 2px;
}
.radiobutton StBin {
	width: 18px;
	height: 18px;
	background-image: url("radiobutton-off.svg");
	border-radius: 15px;
}
.radiobutton:focus StBin {
	background-image: url("radiobutton-off.svg");
}
.radiobutton:checked StBin {
	background-image: url("radiobutton.svg");
}
.radiobutton:focus:checked StBin {
	background-image: url("radiobutton.svg");
}
.radiobutton StLabel {
	padding-top: 2px;
	font-size: 1em;
}
.flashspot {
	background-color: #fff;
}

/* ===================================================================
 * User Applet
 * ===================================================================*/

.user-icon {  
  	background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 2px;
    padding: 2px;
}

.user-label {
  	color: #333;
  	font-size: 16px;
}

/* Snap/tile OSD popup */

.snap-osd {
	font-size: 20pt;
	border-radius: 4px;
	background-color: rgba(248,248,248,1);
	border: 1px solid #b2b2b2;
	color: #333;
	padding: 1em 1em;
	text-align: center;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
/*Soundbox theme*/
.soundbox-mainBox {
	border: 1px solid #b2b2b2;
	border-radius: 4px;
	padding: 5px;
	background-color: rgba(248,248,248,1);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.soundbox-buttonMenu {
	border: 1px solid #bbb;
	border-radius: 2px;
	font-size: 9pt;
	color: #333;
	background-color: #f2f2f2;
	box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.7);
	padding: 7px;
	transition-duration: 150;
}
.soundbox-buttonMenu:hover {
	background-color: #fff;
}
.soundbox-buttonMenu:active {
	border: 1px solid #bbb;
	background-color: #e9e9e9;
	box-shadow: inset 0 0 1px 1px #dadada;
}
.soundbox-divider {
	background-color: #b2b2b2;
	border: 1px solid #fff;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	-margin-horizontal: 14px;
	height: 1px;
}
.soundbox-divider-box {
	color: #333;
	padding: 10px 30px 10px 30px;
}
.soundbox-text, .soundbox-appTitle, .soundbox-playerTitleText, .soundbox-trackInfo-text {
	color: #333;
	font-size: 9pt;
}
.soundbox-volumeButton {
	padding: 2px 3px 2px 3px;
}
.soundbox-volumeIcon {
	icon-size: 16px;
	color: #333;
}
.soundbox-slider {
	border: 0 solid #555;
	-slider-handle-radius: 6px;
	-slider-handle-height: 12px;
	-slider-handle-width: 12px;
	-slider-handle-border-color: #333;
	-slider-handle-border-width: 1px;
	-slider-handle-color: #333;
	-slider-height: 3px;
	-slider-border-width: 1px;
	-slider-border-color: #aaa;
	-slider-background-color: #ccc;
	-slider-active-height: 3px;
	-slider-active-border-width: 1px;
	-slider-active-border-color: #555;
	-slider-active-background-color: #555;
	height: 16px;
	min-width: 180px;
}
.soundbox-appIcon {
	icon-size: 16px;
	padding: 4px;
}
.soundbox-titleBox {
	font-weight: bold;
}
.soundbox-playerIcon {
	icon_size: 16px;
	width: 16px;
}
.soundbox-trackInfoBox {
	padding: 5px;
	width: 200px;
}
.soundbox-trackInfo {
	padding: 4px;
}
.soundbox-trackInfo-icon {
	icon-size: 1em;
	color: #333;
	padding: 0 5px 0 5px;
}
.soundbox-albumCover-box {
}
.soundbox-albumCover {
	icon_size: 200px;
	width: 200px;
	height: 200px;
}
.soundbox-buttonBox {
	padding: 5px 5px 5px 5px; 
}
.soundbox-soundButton-box {
	padding: 3px 3px 3px 3px;
}
.soundbox-soundButton {
	border: 1px solid #bbb;
	border-radius: 2px;
	color: #333;
	background-color: #f2f2f2;
	box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.7);
	width: 25px;
	height: 20px;
	padding: 3px 3px 3px 3px;
	transition-duration: 150;
}
.soundbox-soundButton:hover {
	background-color: #fff;
}
.soundbox-soundButton:active {
	border: 1px solid #bbb;
	background-color: #e9e9e9;
	box-shadow: inset 0 0 1px 1px #dadada;
}
.soundbox-soundButton-icon {
	icon-size: 16px;
}

