/* ###################################################################
 * Section common with Gnome Shell
 * ... contains a few cinnamon specific styles (rare occurences) 
 * ###################################################################*/

stage {
font-family: sans, Ubuntu, monospace;
color: rgb(230,230,230);
font-size: 13px;
}

.cinnamon-link {
    color: #f07746;
    text-decoration: underline;
}

.cinnamon-link:hover {
color: #333;
}

StScrollBar {
padding: 0px;
}

StScrollView.vfade {
-st-vfade-offset: 68px;
}

StScrollView StScrollBar {
min-width: 18px;
min-height: 16px;
}

StScrollBar StBin#trough {
background-gradient-direction: horizontal;
background-gradient-start: #2e2e2e;
background-gradient-end: #3c3b37;
border: 1px solid rgba(0,0,0,0.6);
border-radius: 0px 6px 0px 6px;
box-shadow: inset 0px 0px 4px rgba(0,0,0,0.3);   
}

StScrollBar StButton#vhandle {
background-image: url("scroll-vhandle.svg");
background-color:  rgba(230,230,230,0.1);
border-radius: 0px 6px 0px 6px;
border: 0.5px solid rgba(245,130,84,0.6);
border-left-width: 0px;
border-right-width: 0px;
transition-duration: 850;
}

StScrollBar StButton#hhandle {
background-image: url("scroll-hhandle.svg");
background-color:  rgba(230,230,230,0.1);
border-radius: 0px 6px 0px 6px;
border: 0.5px solid rgba(245,130,84,0.6);
border-top-width: 0px;
border-bottom-width: 0px;
transition-duration: 850;
}

StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover
{
background-color: rgb(234,112,63);
transition-duration: 450;
}

#Tooltip {
padding: 6px 5px;
background-gradient-direction: vertical;
background-gradient-start: rgba(60,59,55,0.6);
background-gradient-end: rgba(60,59,55,0.6);
color: white;
font-size: 12px;
font-weight: normal;
text-align: center;
border: 1px solid rgb(22,22,22);
border-radius: 0px 8px 0px 8px;
box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
}




/* ===================================================================
* PopupMenu (popupMenu.js) 
* ===================================================================*/

.popup-menu-boxpointer {
color: rgb(230,230,230);
/*-boxpointer-gap: 2px;
-arrow-border-color: transparent;
-arrow-background-color: transparent;
-arrow-border-width: 0px;
-arrow-border-radius: 0px;*/
border-color: rgb(22,22,22);
border-width: 1px;
border-radius: 0px 12px 0px 12px;
background-gradient-direction: vertical;
background-gradient-start: rgba(60,59,55,0.8);
background-gradient-end: rgba(60,59,55,0.8); /* это цвет меню */
/*-arrow-base: 15px;
-arrow-rise: 4px;*/
font-size: 13px;
box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
}

.popup-sub-menu StScrollBar {
padding: 4px;
}

.popup-combo-menu {
}

/* The remaining popup-menu sizing is all done in ems, so that if you
* override .popup-menu.font-size, everything else will scale with it.
*/
.popup-menu-content {
padding: 10px 0px 5px 0px;
}

.popup-menu-item {
padding: 5px 24px 5px 24px;
spacing: 2px;
}

.popup-menu-item:active {
    background-gradient-direction: vertical; 
background-gradient-start: rgba(245,130,84,0);
background-gradient-end:  rgba(234,112,63,1);
border-radius: 0px 8px 0px 8px;
box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
transition-duration: 150;
}

.popup-submenu-menu-item:open {
    background-gradient-direction: vertical; 
background-gradient-start: rgba(234,112,63,0);
background-gradient-end:  rgba(245,130,84,1);
border-radius: 0px 8px 0px 8px;
box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
}

.popup-image-menu-item {
}

.popup-combobox-item {
spacing: 1em;
}

.popup-separator-menu-item {
background: rgba(0,0,0,0.1);
border: 1px solid rgba(220,220,220,0.1);
border-top: 0px;
border-left: 0px;
border-right: 0px;
color: #444;
box-shadow: inset 0px 1px 2px rgba(0,0,0,0.2);
height: 0.1em;   
}

.popup-alternating-menu-item:alternate {
font-weight: bold;
}

.popup-slider-menu-item {
    height: 1em;
    min-width: 15em;
    -slider-height: 0.3em;
    -slider-background-color: #3c3b37;
    -slider-border-color: #222;
    -slider-active-background-color: rgb(245,130,84);
    -slider-active-border-color: #222;
    -slider-border-width: 0.5px;
    -slider-handle-radius: 0.5em;
}

.popup-device-menu-item {
spacing: .5em;
}

.popup-inactive-menu-item {
}

.popup-subtitle-menu-item {
font-weight: bold;
}

.popup-menu-icon {
icon-size: 1.14em;
}

/* Switches (to be used in menus) */
.toggle-switch {
width: 64px;
height: 22px;
}
.toggle-switch-us {
background-image: url("toggle-off-us.svg");
}
.toggle-switch-us:checked {
background-image: url("toggle-on-us.svg");
}

.toggle-switch-intl {
background-image: url("toggle-off-intl.svg");
}
.toggle-switch-intl:checked {
background-image: url("toggle-on-intl.svg");
}

.nm-menu-item-icons {
spacing: .5em;
}




/* ===================================================================
* Panel (panel.js)
* ===================================================================*/

#panel {
font-size: 12px;
height: 26px;
}

.panel-top {
background-image: url("panel-border-v.svg");
background-color: rgba(60,59,55,0.5);
background-repeat: repeat;
box-shadow: 0px 1px 3px 1.5px rgba(0,0,0,0.5);
}

.panel-bottom {
background-image: url("panel-border-n.svg");
background-color: rgba(60,59,55,0.7);
background-repeat: repeat;
box-shadow: 0px -1px 3px 1.5px rgba(0,0,0,0.5);
}

.panel-corner {
   -panel-corner-radius: 5px;
   -panel-corner-background-color: rgba(60,59,55,0.4);
-panel-corner-outer-border-color: transparent;
-panel-corner-inner-border-color: transparent;
   spacing: 12px;
}

#panelLeft, #panelCenter, #panelRight {
spacing: 0px;
}

#panelLeft:ltr {
padding-right: 4px;
}

#panelLeft:rtl {
padding-left: 4px;
}

#panelRight:ltr { 
padding-left: 0px;
spacing: 0px;
}

#panelRight:rtl {
padding-right: 0px;
spacing: 0px;
}

.panel-status-button,
.panel-button {
-natural-hpadding: 5px;
-minimum-hpadding: 5px;
font-weight: normal;
text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
transition-duration: 450;
icon-size: 16px;
}

.panel-status-button:hover,
.panel-button:hover {
background-gradient-direction: vertical; 
background-gradient-start: rgba(245,130,84,0);
background-gradient-end:  rgba(234,112,63,1);
box-shadow: inset 0px 1px 1px rgba(255,255,255,0.3);
}

.system-status-icon {
icon-size: 1.14em;
}

#panelLeft:dnd {
background-gradient-direction: vertical; 
background-gradient-start: rgba(234,112,63,0);
background-gradient-end:  rgba(245,130,84,1);
border-top: 0px solid transparent;
border-bottom: 1px solid rgb(22,22,22);
border-left: 1px solid rgb(22,22,22);
border-right: 1px solid rgb(22,22,22);
box-shadow: inset 0px 1px 1px rgba(255,255,255,0.3);
border-radius: 0px 6px 0px 6px;
}
#panelCenter:dnd {
background-gradient-direction: vertical; 
background-gradient-start: rgba(234,112,63,0);
background-gradient-end:  rgba(245,130,84,1);
border-top: 0px solid transparent;
border-bottom: 1px solid rgb(22,22,22);
border-left: 1px solid rgb(22,22,22);
border-right: 1px solid rgb(22,22,22);
box-shadow: inset 0px 1px 1px rgba(255,255,255,0.3);
border-radius: 0px 6px 0px 6px;
}
#panelRight:dnd {
background-gradient-direction: vertical; 
background-gradient-start: rgba(234,112,63,0);
background-gradient-end:  rgba(245,130,84,1);
border-top: 0px solid transparent;
border-bottom: 1px solid rgb(22,22,22);
border-left: 1px solid rgb(22,22,22);
border-right: 1px solid rgb(22,22,22);
box-shadow: inset 0px 1px 1px rgba(255,255,255,0.3);
border-radius: 0px 6px 0px 6px;
}




/* ===================================================================
* Looking Glass 
* ===================================================================*/

#LookingGlassDialog
{
  background-color: rgba(60,59,55,0.8);
spacing: 3px;
  padding: 4px;
  border: 1px solid rgb(22,22,22);
border-radius: 0px 12px 0px 12px;
color: rgb(230,230,230);
box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
}

#LookingGlassDialog > #Toolbar
{
background-gradient-direction: horizontal; 
background-gradient-start: #2e2e2e;
background-gradient-end: #3c3b37;
box-shadow: inset 0px 0px 4px rgba(0,0,0,0.4);
border: 1px solid rgb(0,0,0);
border-radius: 0px 8px 0px 8px;
height: 28px;
}

#LookingGlassDialog .labels {
  spacing: 4px;
}

#LookingGlassDialog .notebook-tab {
background-gradient-direction: vertical;
background-gradient-start: rgba(0,0,0,0);
background-gradient-end: rgba(0,0,0,0);
border-radius: 0px 6px 0px 6px;
box-shadow: inset 0px 0px 1px 1px rgba(245,130,84,0.6);
  padding: 2px;
transition-duration: 150;
}

#LookingGlassDialog .notebook-tab:hover {
background-gradient-direction: vertical; 
background-gradient-start: rgba(245,130,84,0);
background-gradient-end:  rgba(234,112,63,1);
box-shadow: inset 0px 1px 1px rgba(255,255,255,0.3);
transition-duration: 150;
}

#LookingGlassDialog .notebook-tab:selected {
background-gradient-direction: vertical; 
background-gradient-start: rgba(234,112,63,0);
background-gradient-end:  rgba(245,130,84,1);
box-shadow: inset 0px 1px 1px rgba(255,255,255,0.3);
  color: rgb(255,255,255);
  padding: 2px;
}

#LookingGlassDialog .lg-inspector-title {
    font-weight: bold;
    padding-bottom: 8px;
}

.lg-dialog StLabel
{
  color: rgb(230,230,230);
}

.lg-dialog StEntry
{
  color: rgb(230,230,230);
  selection-background-color: rgb(234,227,209);
  selected-color: black;
}

.lg-obj-inspector-title
{
color: rgb(230,230,230);
  spacing: 4px;
}

.lg-obj-inspector-button
{
background-gradient-direction: vertical;
background-gradient-start: rgba(0,0,0,0);
background-gradient-end: rgba(0,0,0,0);
border-radius: 0px 6px 0px 6px;
box-shadow: inset 0px 0px 1px 1px rgba(245,130,84,0.6);
  padding: 4px;
transition-duration: 150;
}

.lg-obj-inspector-button:hover
{
background-gradient-direction: vertical; 
background-gradient-start: rgba(245,130,84,0);
background-gradient-end:  rgba(234,112,63,1);
box-shadow: inset 0px 1px 1px rgba(255,255,255,0.3);
transition-duration: 150;
}

.lg-obj-inspector-button:active
{
background-gradient-direction: vertical; 
background-gradient-start: rgba(234,112,63,0);
background-gradient-end:  rgba(245,130,84,1);
box-shadow: inset 0px 1px 1px rgba(255,255,255,0.3);
transition-duration: 150;
}

.lg-dialog .cinnamon-link
{
 color: rgb(230,230,230);
font-weight: bold;
transition-duration: 150;
}

.lg-dialog .cinnamon-link:hover
{
background-gradient-direction: vertical; 
background-gradient-start: rgba(245,130,84,0);
background-gradient-end:  rgba(234,112,63,1);
box-shadow: inset 0px 1px 1px rgba(255,255,255,0.3);
  border-radius: 0px 8px 0px 8px;
}

.lg-dialog .cinnamon-link:active
{
background-gradient-direction: vertical; 
background-gradient-start: rgba(234,112,63,0);
background-gradient-end:  rgba(245,130,84,1);
box-shadow: inset 0px 1px 1px rgba(255,255,255,0.3);
  border-radius: 0px 8px 0px 8px;
}

#LookingGlassDialog StBoxLayout#EvalBox
{
  padding: 4px;
  spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea
{
  spacing: 4px;
}

#lookingGlassExtensions {
    padding: 4px;
}

.lg-extension-list {
    padding: 4px;
    spacing: 6px;
}

.lg-extension {
    border: 1px solid #6f6f6f;
    border-radius: 4px;
    padding: 4px;
}

.lg-extension-name {
    font-weight: bold;
}

.lg-extension-meta {
    spacing: 6px;
}

#LookingGlassPropertyInspector {
background-gradient-direction: horizontal; 
background-gradient-start: rgb(46,46,46);
background-gradient-end: rgb(60,59,55);
    border: 1px solid black;
border-radius: 0px 24px 0px 24px;
    padding: 6px;
    color: rgb(230,230,230);
}




/* ===================================================================
* Date applet 
* ===================================================================*/

.calendar {
padding: .4em 1.75em;
spacing-rows: 0px;
spacing-columns: 0px;
}

.datemenu-date-label {
padding: .4em 1.75em;
font-weight: bold;
text-align: center;
}

.calendar-month-label {
font-size: 8.5pt;
font-weight: bold;
padding-bottom: 3px;
padding-top: 2px;
text-align: center;
}

.calendar-change-month-back,
.calendar-change-month-forward:rtl {
    width: 20px;
    height: 20px;
    background-image: url("calendar-arrow-left.svg");
    border-radius: 4px;
    transition-duration: 300;
}

.calendar-change-month-back:hover {
    background-color: rgba(234,112,63,0.6);
    box-shadow: inset 0px 1px 1px rgba(255,255,255,0.3);
    border-radius: 2px;
}

.calendar-change-month-forward,
.calendar-change-month-back:rtl {
    width: 20px;
    height: 20px;
    background-image: url("calendar-arrow-right.svg");
    border-radius: 4px;
    transition-duration: 300;
}

.calendar-change-month-forward:hover {
    background-color: rgba(234,112,63,0.6);
    box-shadow: inset 0px 1px 1px rgba(255,255,255,0.3);
    border-radius: 2px;
}

.calendar-day-base {
    font-size: 7.5pt;
    text-align: center;
    width: 2.4em;
    max-height: 2.4em;
    padding: 5px 0px 5px 0px; 
}

.calendar-day-heading {
padding-top: 1em;
font-weight: bold;
}

.calendar-week-number {
padding-left: 0px;
font-weight: bold;
border: 1px solid transparent;
}

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day {
border-top-width: 0;
border-left-width: 0;
background: #45443f;
}

.calendar-day-top {
border-top-width: 1px;
}

.calendar-day-left {
border-left-width: 1px;
}

.calendar-work-day {
border-radius: 4px;
border: 1px solid #3c3b37;
}

.calendar-nonwork-day {
border-radius: 4px;
border: 1px solid #3c3b37;
}

.calendar-today {
    background-gradient-direction: vertical; 
background-gradient-start: rgba(245,130,84,0);
background-gradient-end:  rgba(234,112,63,1);
    box-shadow: inset 0px 1px 1px rgba(255,255,255,0.2);
    border: 1px solid rgba(0,0,0,0.2);
}

.calendar-other-month-day {
background: #3c3b37;
color: #787878;
border: 0px solid rgba(0,0,0,0.3);
}




/* ===================================================================
* Notifications
* ===================================================================*/

#notification {
color: rgb(230,230,230);
box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
border: 1px solid rgb(22,22,22);
border-radius: 0px 12px 0px 12px;
background-gradient-direction: vertical;
background-gradient-start: rgba(60,59,55,0.6);
background-gradient-end: rgba(60,59,55,0.6);
padding: 8px;
spacing-rows: 10px;
spacing-columns: 10px;
margin-from-right-edge-of-screen: 20px;
width: 30em;
}

#notification.multi-line-notification {
padding-bottom: 8px;
}

/* We use row-span = 2 for the image cell, which prevents its height preferences to be
taken into account during allocation, so its height ends up being limited by the height
of the content in the other rows. To avoid showing a stretched image, we set the minimum
height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
min-height: 159px;
}

#notification-scrollview {
max-height: 10em;
}
#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
height: 1em;
}
#notification-scrollview:ltr > StScrollBar {
padding-left: 6px;
}
#notification-scrollview:rtl > StScrollBar {
padding-right: 6px;
}
#notification-body {
spacing: 5px;
}
#notification-actions {
spacing: 10px;
}




/* ===================================================================
* Alt Tab
* ===================================================================*/

#altTabPopup {
padding: 16px;
spacing: 16px;
}

.switcher-list {
border: 1px solid rgb(22,22,22);
border-radius: 0px 24px 0px 24px;
background-gradient-direction: vertical; 
background-gradient-start: rgba(60,59,55,0.8);
background-gradient-end:  rgba(60,59,55,0.8);
box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
padding: 20px;
}

.switcher-list-item-container {
spacing: 8px;
}

.thumbnail-scroll-gradient-left {
	background-gradient-direction: horizontal;
	background-gradient-start: rgba(46,46,46,1);
	background-gradient-end: rgba(46,46,46,0);
        border-radius: 0px 0px 0px 24px;
	width: 160px;
}

.thumbnail-scroll-gradient-right {
	background-gradient-direction: horizontal;
	background-gradient-start: rgba(46,46,46,0);
	background-gradient-end: rgba(46,46,46,1);
        border-radius: 0px 24px 0px 0px;
	width: 160px;
}

.switcher-list .item-box {
color: rgb(230,230,230);
padding: 8px;
border-radius: 16px;
border: 1px solid transparent;
transition-duration: 450;
}

.switcher-list .item-box:outlined {
padding: 8px;
}

.switcher-list .item-box:selected {
color: rgba(22,22,22,0.9);
background-gradient-direction: vertical; 
background-gradient-start: rgba(245,130,84,0);
background-gradient-end:  rgba(234,112,63,1);
box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
}

.switcher-list .thumbnail-box {
padding: 2px;
spacing: 4px;
}

.switcher-list .thumbnail {
width:  256px;
}

.switcher-list .separator {
	width: 1px;
	background: transparent;
}

.switcher-arrow {
	border-color: transparent;
	color: rbg(230,230,230);
}
.switcher-arrow:highlighted {
	border-color: transparent;
	color: white;
}
.switcher-preview-backdrop {
   background-color: transparent;
}




/* ===================================================================
* Modal dialogs
* ===================================================================*/

.modal-dialog {
font-weight: bold;
border: 1px solid rgb(22,22,22);
background-gradient-direction: vertical; 
background-gradient-start: rgba(60,59,55,0.8);
background-gradient-end:  rgba(60,59,55,0.8);
box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
border-radius: 0px 12px 0px 12px;
padding: 30px 35px;
}

.modal-dialog-button-box {
spacing: 21px;
padding-top: 30px;
}

.modal-dialog-button {
background-gradient-direction: horizontal; 
background-gradient-start: rgba(46,46,46,0.8);
background-gradient-end: rgba(60,59,55,0.8);
box-shadow: inset 0px 0px 1px 1px rgba(245,130,84,0.6);
border-radius: 0px 6px 0px 6px;
font-weight: normal;
padding: 8px 5px;
min-width: 105px;
transition-duration: 250;
}

.modal-dialog-button:hover,
.modal-dialog-button:focus {
background-gradient-direction: vertical; 
background-gradient-start: rgba(245,130,84,0);
background-gradient-end:  rgba(234,112,63,1);
box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
}

.modal-dialog-button:active,
.modal-dialog-button:pressed {
background-gradient-direction: vertical; 
background-gradient-start: rgba(234,112,63,0);
background-gradient-end:  rgba(245,130,84,1);
box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
color: rgb(255,255,255);
}

.modal-dialog-button:disabled {
border: 1px solid rgba(22,22,22,0.1);
box-shadow: inset 0px 0px 0px rgba(255,255,255,0.0);
}




/* ===================================================================
* Run dialog
* ===================================================================*/

.run-dialog-label {
font-weight: bold;
padding-bottom: 14px;
 font-size: 9pt;
color: white;
}

.run-dialog-error-label {
font-weight: bold;
 font-size: 9pt;
color: white;
}

.run-dialog-error-box {
padding-top: 15px;
spacing: 5px;
}
/*эта штука расширила сам диалог*/
.run-dialog-entry {
border-radius: 0px 6px 0px 6px;
    color: rgba(0,0,0,0.9);
    border: 1px solid rgb(234,112,63);
background-gradient-direction: vertical; 
background-gradient-start: rgba(234,112,63,0);
background-gradient-end:  rgba(245,130,84,1);
    selected-color: rgb(230,230,230);
caret-color: rgb(60,59,55);
    font-weight: normal;
    padding: 4px;
    padding-bottom: 3px;
width: 23em;
}

.run-dialog {
border: 1px solid rgba(22,22,22,1);
background-gradient-direction: vertical; 
background-gradient-start: rgba(60,59,55,0.8);
background-gradient-end:  rgba(60,59,55,0.8);
box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
border-radius: 0px 12px 0px 12px;
padding-right: 21px;
padding-left: 21px;
padding-bottom: 20px;
padding-top: 15px;
}

.run-dialog > .modal-dialog-button-box {
padding-top: 5px;
}

.run-dialog-completion-box {
        padding-left: 15px;
        font-size: 10px;
}

.lightbox {
background-color: rgba(60,59,55,0.1);
transition-duration: 450;
}




/* ===================================================================
* Policykit authentication dialog
* ===================================================================*/

.polkit-dialog {
/* this is the width of the entire modal popup */
width: 500px;
}

.polkit-dialog-main-layout {
spacing: 24px;
padding: 10px;
}

.polkit-dialog-message-layout {
spacing: 16px;
}

.polkit-dialog-headline {
font-size: 12pt;
font-weight: bold;
}

.polkit-dialog-description {
font-weight: normal;
}

.polkit-dialog-user-layout {
padding-left: 10px;
spacing: 10px;
}

.polkit-dialog-user-layout:rtl {
padding-left: 0px;
padding-right: 10px;
}

.polkit-dialog-user-root-label {
    color: rgb(234,112,63);
}

.polkit-dialog-password-label:ltr {
padding-top: 5px;
padding-right: 0.5em;
}

.polkit-dialog-password-label:rtl {
padding-left: 0.5em;
}

.polkit-dialog-password-entry {
    border: 1px solid rgb(234,112,63);
background-gradient-direction: vertical; 
background-gradient-start: rgba(234,112,63,0);
background-gradient-end:  rgba(245,130,84,1);
    border-radius: 4px;
    selected-color: rgb(234,227,209);
    caret-color: rgb(60,59,55);
    caret-size: 1px;
    color: rgba(0,0,0,0.9);
    width: 250px;
    font-weight: normal;
    padding: 4px;
    padding-bottom: 3px;
}

.polkit-dialog-error-label {
    font-weight: bold;
    color: rgb(234,112,63);
    padding-bottom: 8px;
}

.polkit-dialog-info-label {
padding-bottom: 8px;
}

/* intentionally left transparent to avoid dialog changing size */
.polkit-dialog-null-label {
color: rgba(0,0,0,0);
padding-bottom: 8px;
}

.network-dialog-secret-table {
spacing-rows: 15px;
}




/* ===================================================================
* Magnifier
* ===================================================================*/

.magnifier-zoom-region {
    border: 2px solid #f07746;
}

.magnifier-zoom-region.full-screen {
border-width: 0px;
}




/* ===================================================================
* On screen keyboard
* ===================================================================*/

#keyboard {
background: rgba(60,59,55,0.8);
border: 1px solid rgb(22,22,22);
border-radius: 8px 8px 0px 0px;
box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
}

.keyboard-layout {
spacing: 10px;
padding: 10px;
}

.keyboard-row {
spacing: 15px;
}

.keyboard-key {
    min-height: 30px;
    min-width: 30px;
background-gradient-direction: horizontal; 
background-gradient-start: rgba(46,46,46,0.8);
background-gradient-end: rgba(60,59,55,0.8);
border-radius: 0px 8px 0px 8px;
box-shadow: inset 0px 0px 1px 1px rgba(245,130,84,0.8);
color: rgb(230,230,230);
transition-duration: 150;
    font-size: 14pt;
    font-weight: bold;
}

.keyboard-key:grayed {
color: #808080;
border-color: #808080;
}

.keyboard-key:checked,
.keyboard-key:hover {
background-gradient-direction: vertical; 
background-gradient-start: rgba(245,130,84,0);
background-gradient-end:  rgba(234,112,63,1);
box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
border: 0px solid transparent;
}

.keyboard-key:active {
background-gradient-direction: vertical; 
background-gradient-start: rgba(234,112,63,0);
background-gradient-end:  rgba(245,130,84,1);
box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
color: rgba(255,255,255,1);
}

.keyboard-subkeys {
color: #3c3b37;
padding: 5px;
-arrow-border-radius: 4px;
-arrow-background-color: rgba(0,0,0,0.8);
-arrow-border-width: 1px;
-arrow-border-color: rgba(0,0,0,0.8);
-arrow-base: 15px;
-arrow-rise: 4px;
-boxpointer-gap: 5px;
}




/* ###################################################################
* Cinnamon Specific Section 
* ###################################################################*/

/* ===================================================================
* Menu (menu.js)
* ===================================================================*/

/*Цветовая схема для подсветки  приложений главного меню: */
/* background-gradient-start: #f58254; */
/* background-gradient-end: #ea703f; */

.menu-favorites-box {
padding: 0px;
border-radius: 0px 8px 0px 8px;
background-gradient-direction: horizontal; 
background-gradient-start: #2e2e2e;
background-gradient-end: #3c3b37;
border: 1px solid rgb(0,0,0);
box-shadow: inset 0px 0px 4px rgba(0,0,0,0.4);
}

.menu-favorites-button {
padding: 10px; 
}

.menu-favorites-button:hover {
    background-gradient-direction: vertical; 
background-gradient-start: rgba(245,130,84,0);
background-gradient-end:  rgba(234,112,63,1);
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
transition-duration: 450;
}

.menu-favorites-button:first-child {
border-radius: 0 6px 0 6px;
}

.menu-favorites-button:last-child {
border-radius: 0 0 0 7px;
}

.menu-favorites-button:only-child {
border-radius: 0 6px 0 7px;
}

.menu-help-button {
padding-top: 2px;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 2px;
border: 1px solid transparent; 
}

.menu-help-button:hover {
    background-gradient-direction: vertical; 
background-gradient-start: rgba(245,130,84,0);
background-gradient-end:  rgba(234,112,63,1);
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
border-radius: 4px;
}

.menu-places-box {
padding: 10px;
border: 0px solid #666;
}

.menu-places-button {
color: #eae3d1;
padding: 10px;
}

.menu-categories-box {
padding-top: 15px;
padding-left: 15px;
padding-right: 5px;
padding-bottom: 0px;
}

.menu-applications-box {
padding-top: 15px;
padding-left: 10px;
padding-right: 15px;
padding-bottom: 0px;
}

.menu-application-button {
padding: 7px;    
border: 1px solid transparent; 
}

.menu-application-button-selected {
padding: 7px;
    background-gradient-direction: vertical; 
background-gradient-start: rgba(245,130,84,0);
background-gradient-end:  rgba(234,112,63,1);
border: 1px solid transparent;
border-radius: 0px 8px 0px 8px;
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
transition-duration: 450;
}

.menu-application-button-label:ltr { 
padding-left: 5px;   
}

.menu-application-button-label:rtl { 
padding-right: 5px;       
}
.menu-place-cat-button-label:ltr {
padding-top: 3px;
padding-left: 5px;
}
.menu-place-cat-button-label:rtl {
padding-top: 3px;
padding-right: 5px;
}

.menu-category-button {
padding: 7px;
border: 1px solid transparent;
}

.menu-category-button-greyed {
padding: 7px; 
color: rgba(0,0,0,0.9);
font-weight: normal;
border: 1px solid transparent;
}

.menu-category-button-selected {
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px; 
    background-gradient-direction: vertical; 
background-gradient-start: rgba(245,130,84,0);
background-gradient-end:  rgba(234,112,63,1);
    border: 1px solid rgba(255,255,255,0.0);
border-radius: 0px 8px 0px 8px;
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
transition-duration: 450; 
}

.menu-category-button-label:ltr { 
padding-left: 5px;   
}

.menu-category-button-label:rtl { 
padding-right: 5px;       
}
/* Name and description of the currently hovered item in the menu
 * This appears on the bottom right hand corner of the menu*/
.menu-selected-app-box {
padding-right: 30px;
padding-left: 28px;
text-align: right;
}
.menu-selected-app-box:rtl {
padding-top: 10px;
height: 30px;
}

.menu-selected-app-title {
font-weight: bold;
text-shadow: 0px 1px 1px rgba(0,0,0,0.2); 
}

.menu-selected-app-description {
max-width: 150px;
}

.menu-search-box:ltr {
padding-left: 25px;
}

.menu-search-box:rtl {
padding-right: 25px;
}

#menu-search-entry {
    border: 1px solid rgb(234,112,63);
background-gradient-direction: vertical; 
background-gradient-start: rgba(234,112,63,0);
background-gradient-end:  rgba(245,130,84,1);
border-radius: 0px 6px 0px 6px;
    selected-color: rgb(234,227,209);
    caret-color: rgb(60,59,55);
    caret-size: 1px;
    color: rgba(0,0,0,0.9);
    width: 250px;
    font-weight: normal;
    padding: 4px;
    padding-bottom: 3px;
    transition-duration: 450;
}

.menu-search-entry-icon {
icon-size: 1.2em;
color: #3c3b37;
}




/* ===================================================================
* Window list (windowList.js)
* ===================================================================*/

.window-list-box {
spacing: 1px;
}

.window-list-item-label {
width: 15em;
min-width: 5px;
}

.window-list-item-box {
font-weight: normal;
padding-top: 1px;
padding-left: 5px;
padding-right: 5px;
background-gradient-direction: horizontal; 
background-gradient-start: rgba(46,46,46,0.8);
background-gradient-end: rgba(60,59,55,0.8);
border-radius: 0px 6px 0px 6px;
box-shadow: inset 0px 0px 1px 1px rgba(245,130,84,0.6);
color: rgb(230,230,230);
transition-duration: 450;
}

.window-list-item-box:active,
.window-list-item-box:checked,
.window-list-item-box:focus {  
background-gradient-direction: vertical; 
background-gradient-start: rgba(234,112,63,0);
background-gradient-end:  rgba(245,130,84,1);
box-shadow: inset 0px 1px 1px rgba(255,255,255,0.3);
color: rgb(255,255,255);
}

.window-list-item-box:hover {
background-gradient-direction: vertical; 
background-gradient-start: rgba(245,130,84,0);
background-gradient-end:  rgba(234,112,63,1);
box-shadow: inset 0px 1px 1px rgba(255,255,255,0.3);
}

.window-list-item-demands-attention {
    background-gradient-direction: vertical; 
background-gradient-start: rgba(245,130,84,1);
background-gradient-end:  rgba(234,112,63,0.3);
color: rgb(255,255,255);
box-shadow: inset 0px 1px 1px rgba(255,255,255,0.3);
}

.window-list-item:last-child {
color: white;
}




/* ===================================================================
* Applets (applet.js)  Все апплеты ниже
* ===================================================================*/

.applet-box {
padding-left: 5px;
padding-right: 5px;
font-size: 12px;
font-weight: normal;
color: rgb(230,230,230);
text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
transition-duration: 450;
min-width: 12px;
}

.applet-box:hover {
background-gradient-direction: vertical; 
background-gradient-start: rgba(245,130,84,0);
background-gradient-end:  rgba(234,112,63,1);
box-shadow: inset 0px 1px 1px rgba(255,255,255,0.3);
}

.applet-box:active {
     color: rgb(255,255,255);
     background-gradient-direction: vertical;
     background-gradient-start: rgba(234,112,63,0);
     background-gradient-end: rgba(245,130,84,1);
     box-shadow: inset 0px 1px 1px rgba(255,255,255,0.3);
}

.applet-separator {
	padding: 5px 4px;
}
.applet-separator-line {
	width: 2px;
	background: rgba(255,255,255,0.5);
}

.applet-label {
text-align: center;
padding-top: 2px;
}

.applet-icon {  
color: #ccc;
icon-size: 22px;
}

.applet-icon:hover {
color: #fff;
icon-shadow: white 0px 0px 3px;
}




/* ===================================================================
* Notification Applet
* ===================================================================*/

.notification-applet-padding {
padding: .4em 1.25em;
spacing: 5px;
}

.notification-applet-container {
border: 1px solid rgb(0,0,0);
background-gradient-direction: horizontal; 
background-gradient-start: #2e2e2e;
background-gradient-end: #3c3b37;
border-radius: 0px 12px 0px 12px;
max-height: 100px;
}

.popup-menu #notification {
box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
}

.flashspot {
   background-color: white;
}

/* Check Boxes */
.check-box CinnamonGenericContainer {
    spacing: .2em;
    min-height: 30px;
    padding-top: 2px;
}

.check-box StBin {
    width: 24px;
    height: 18px;
    background-image: url("checkbox-off.svg");
}

.check-box:focus StBin {
    background-image: url("checkbox-off-focused.svg");
}

.check-box:checked StBin {
    background-image: url("checkbox.svg");
}

.check-box:focus:checked StBin {
    background-image: url("checkbox-focused.svg");
}

.check-box StLabel {
   font-weight: normal;
}

.radiobutton CinnamonGenericContainer {
    spacing: .2em;
    height: 26px;
    padding-top: 2px;
}

.radiobutton StBin {
    width: 22px;
    height: 22px;
    background-image: url("radiobutton-off.svg");
    border-radius: 15px;
}

.radiobutton:focus StBin {
    background-image: url("radiobutton-off.svg");
}

.radiobutton:checked StBin {
    background-image: url("radiobutton.svg");
}

.radiobutton:focus:checked StBin {
    background-image: url("radiobutton.svg");
}

.radiobutton StLabel {
   padding-top: 4px;
   font-size: 0.9em;
   box-shadow: none;
}




/* ===================================================================
* Sound Applet (status/volume.js)
* ===================================================================*/

.sound-button-container {
	padding-right: 3px;
	padding-left: 3px;
}

.sound-button {
/*border: 1px solid rgba(22,22,22,0.4);*/
/*background-color: #3c3b37;
box-shadow: inset 0px 1px 1px rgba(255,255,255,0.2), inset 0px 0px 1px rgba(22,22,22,0.4);;
border-radius: 5px;*/
background-gradient-direction: horizontal; 
background-gradient-start: rgba(46,46,46,0.8);
background-gradient-end: rgba(60,59,55,0.8);
border-radius: 0px 6px 0px 6px;
box-shadow: inset 0px 0px 1px 1px rgba(245,130,84,0.6);
padding: 5px;
}

.sound-button:hover,
.sound-button:focus {
background-gradient-direction: vertical;
background-gradient-start: rgba(245,130,84,0);
background-gradient-end:  rgba(234,112,63,1);
    box-shadow: inset 0px 1px 1px rgba(255,255,255,0.4);
transition-duration: 100;
}

.sound-button:active,
.sound-button:pressed {
background-gradient-direction: vertical;
background-gradient-start: rgba(234,112,63,0);
background-gradient-end:  rgba(245,130,84,1);
box-shadow: inset 0px 0px 1px 1px rgb(60,59,55);
}

.sound-button StIcon {
icon-size: 1.4em;
}

.sound-seek-box {
   padding-left: 20px;
}
.sound-seek-box StLabel {
   padding-top: 2px;
}
.sound-seek-box StIcon {
   icon-size: 1em;
}
.sound-seek-slider {
   width: 140px;   
}

.sound-track-infos {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.sound-track-info {
	padding-top: 2px;
	padding-bottom: 2px;
}

.sound-track-info StIcon {
icon-size: 1em;
}

.sound-track-info StLabel {
	padding-left: 5px;
	padding-right: 5px;
}
.sound-track-box {	
	padding-left: 15px;
	padding-right: 15px;	
	max-width: 220px;
}

.sound-volume-menu-item {
padding: .4em 1.75em;
}

.sound-volume-menu-item StIcon {
	icon-size: 1.14em;
	padding-left: 8px;
	padding-right: 8px;
}

.sound-playback-control {
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}




/* ===================================================================
* Workspace Switcher applet (workspaceSwitcher.js)
* ===================================================================*/
#workspaceSwitcher {
spacing: 2px;
padding: 3px;
}

.workspace-button {
width: 22px;
height: 21px;
font-size:11px;
color: transparent /*rgb(230,230,230)*/;
padding-top: 1px;
background-gradient-direction: vertical;
background-gradient-start: rgb(41,40,38);
background-gradient-end:  rgb(41,40,38);
border-bottom: 2px solid transparent;
border-top: 2px solid transparent;
transition-duration: 450;
}

.workspace-button:outlined {
background-gradient-direction: vertical;
background-gradient-start: rgba(245,130,84,0);
background-gradient-end:  rgba(234,112,63,1);

}




/* ===================================================================
* Panel Launchers Applet (panelLaunchers.js)
* ===================================================================*/

#panel-launchers-box {
padding-left: 0px;
}

.panel-launcher {
margin: 1px;
padding: 1px;
transition-duration: 450;
}

.panel-launcher:hover {
background-gradient-direction: vertical; 
background-gradient-start: rgba(245,130,84,0);
background-gradient-end:  rgba(234,112,63,1);
box-shadow: inset 0px 1px 1px rgba(255,255,255,0.3);
}

.panel-launcher-add-dialog-content-box {
padding-bottom: 20px;
spacing: 20px;
}

.panel-launcher-add-dialog-content-box-left {
padding: 9px;
spacing: 20px;
}

.panel-launcher-add-dialog-content-box-right {
padding: 6px;
spacing: 10px;
}

.panel-launcher-add-dialog-entry {
background: white;
border: 1px solid #3c3b37;
border-radius: 4px;
box-shadow: inset 0px 0px 0px 0px #accd8a;
selected-color: #eae3d1;
caret-color: #3c3b37;
caret-size: 1px;
color: #3c3b37;
width: 250px;
font-weight: normal;
padding: 4px;
padding-bottom: 3px;
transition-duration: 450;
}

.panel-launcher-add-dialog-entry:focus {
    border: 1px solid #f07746;
}




/* ===================================================================
 * Overview corner 
 * Угол для перехода в режим обзора
 * ===================================================================*/
#overview-corner {
	background-image: url("overview.png");
transition-duration: 450;
}
#overview-corner:hover {
	background-image:	url("overview-hover.png");
-st-background-image-shadow: 0px 0px 0px 0px rgb(234,112,63);
transition-duration: 250;
}

.ripple-box {
width: 208px;
height: 208px;
background-image: url("corner-ripple.svg");
}
.ripple-box:rtl {
	background-image: url("corner-ripple.svg");
}




/* ===================================================================
* Overview background: 
* Режим обзора: фон
* ===================================================================*/

#overview {

}

.expo-background {  /*изменяет фон (затенение) в режиме обзора рабочих областей*/
/*	background-gradient-direction: vertical;
        background-gradient-start: rgba(0,0,0,0.1);
	background-gradient-end: rgba(170,170,170,0.1);*/
}

.workspace-overview-background-shade {
	background-color: rgba(22,22,22,0.2);
}

.workspace-controls {
   visible-height: 32px; /* Amount visible before hovering */
}

.workspace-add-button {
background-gradient-direction: vertical;
background-gradient-start: rgba(92,91,86,1);
background-gradient-end: rgba(50,50,45,0);
border: 1px solid rgb(22,22,22);
box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
border-radius: 160px 0px 0px 160px;
height: 200px;
width: 35px;
transition-duration: 450;
background-image: url();
}

.workspace-add-button:hover {
background-gradient-direction: vertical;
background-gradient-start: rgba(245,130,84,0);
background-gradient-end:  rgba(234,112,63,1);
border-left: 1px solid transparent;
border-top: 1px solid rgba(255,255,255,0.3);
border-right: 0px solid transparent;
border-bottom: 0px solid transparent;
transition-duration: 250;
background-image: url();
}

.workspace-add-button:active {
background-gradient-direction: vertical;
background-gradient-start: rgba(234,112,63,0);
background-gradient-end:  rgba(245,130,84,1);
border-left: 1px solid transparent;
border-top: 1px solid rgba(255,255,255,0.3);
border-right: 0px solid transparent;
border-bottom: 0px solid transparent;
transition-duration: 150;
background-image: url();
}

.window-close-area {
background-image: url("trash.svg");
-st-background-image-shadow: 0px 0px 4px 3px rgb(234,112,63);
background-color: rgba(60,59,55,0.4);
border: 1px solid rgb(22,22,22);
color: rgb(230,230,230);
border-radius: 0px 18px 0px 18px;
height: 115px;
width: 320px;
box-shadow: 0px 0px 3px 7.5px rgba(0,0,0,0.4);/*тут 7.5 соответствует 1*/
}

/* ===================================================================
* Кнопки управления в режиме обзора
* ===================================================================*/

.window-close {
background-image: url("window-close.svg");
height: 36px;
width: 36px;
-cinnamon-close-overlap: 26px;
transition-duration: 450;
-st-background-image-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
}

.window-close:hover {
background-image: url("window-close-hover.svg");
transition-duration: 250;
}

.window-close:active {
background-image: url("window-close-active.svg");
-st-background-image-shadow: 0px 0px 3px 1px rgba(255,0,0,0.4);
transition-duration: 150;
}

.workspace-close-button {
background-image: url("workspace-close.svg");
-st-background-image-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
height: 36px;
width: 36px;
-cinnamon-close-overlap: 35px;
transition-duration: 450;
}

.workspace-close-button:hover {
background-image: url("workspace-close-hover.svg");
transition-duration: 250;
}

.workspace-close-button:active {
background-image: url("workspace-close-active.svg");
-st-background-image-shadow: 0px 0px 3px 1px rgba(255,0,0,0.4);
transition-duration: 150;
}





/* ===================================================================
* Workspace OSD 
* Рабочее пространство в режиме обзора
* ===================================================================*/

.workspace-osd {
font-size: 22pt;
font-weight: bold;
background: rgba(0,0,0,0.9);
border-radius: 2px;
color: rgb(200, 200, 200);
padding: 8px;
border: 1px solid rgba(44,44,44,0.4);
box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);	
}

.workspace-thumbnails {
spacing: 34px;
}

.expo-workspace-thumbnail-frame {
border-radius: 4px;
transition-duration: 450;
}

.expo-workspace-thumbnail-frame#active {
border: 2px solid rgba(22,22,22,0.6);
box-shadow: inset 0 0 0 0 rgba(22,22,22,0.6);
}


.expo-workspaces-name-entry {
background: rgba(60,59,55,0.6);
border: 1px solid rgb(22,22,22);
border-radius: 0px 6px 0px 6px;
font-weight: bold;
selected-color: rgb(60,59,55);
caret-color: rgb(230,230,230);
caret-size: 1px;
color: rgb(230,230,230);
box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
padding: 2px 8px 3px 10px;
height: 16px;
transition-duration: 450;
}

.expo-workspaces-name-entry:focus {
color: rgb(230,230,230);
	font-weight: bold;
}

.expo-workspaces-name-entry#selected {
  border: 1px solid rgb(234,112,63);
background-gradient-direction: vertical; 
background-gradient-start: rgba(234,112,63,0);
background-gradient-end:  rgba(245,130,84,1);
color: rgba(22,22,22,0.9);
}

.window-caption {
background: rgba(60,59,55,0.6);
border: 1px solid rgb(22,22,22);
border-radius: 0px 6px 0px 6px;
font-weight: bold;
color: rgb(230,230,230);
box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
padding: 2px 8px 3px 10px;
height: 16px;
spacing: 25px;
transition-duration: 450;
-cinnamon-caption-spacing: 6px;
}

.window-caption#selected {
  border: 1px solid rgb(234,112,63);
background-gradient-direction: vertical; 
background-gradient-start: rgba(234,112,63,0);
background-gradient-end:  rgba(245,130,84,1);
color: rgba(22,22,22,0.9);
font-weight: bold;
}





/* ===================================================================
 * Desklets (desklet.js) Тут все десклеты, что и на рабочем столе
 * ===================================================================*/
.desklet {        
color: rgb(230,230,230);   
}

.desklet-with-borders {
    border: 1px solid rgb(22,22,22);
background-gradient-direction: vertical; 
background-gradient-start: rgba(60,59,55,0.6);
background-gradient-end:  rgba(60,59,55,0.6);;
box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
color: rgb(230,230,230);
padding: 0px 10px 0px 10px;
border-radius: 0px 12px 0px 12px
}

.desklet-with-borders-and-header {
    border: 1px solid rgb(22,22,22);
background-gradient-direction: vertical; 
background-gradient-start: rgba(60,59,55,0.6);
background-gradient-end:  rgba(60,59,55,0.6);
box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
color: rgb(230,230,230);
padding: 0px 10px 0px 10px;
border-radius: 0px 0px 0px 12px
}

.desklet-header { 
border-radius: 0px 12px 0px 0px;
    font-size: 10.5pt;
    border: 1px solid rgb(22,22,22);
border-bottom: 0px;
background-gradient-direction: vertical; 
background-gradient-start: rgba(60,59,55,0.6);
background-gradient-end:  rgba(60,59,55,0.6);
box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
color: rgb(230,230,230);
    padding: 6px;
}

.desklet-drag-placeholder { 
border: 1px solid rgb(234,112,63);
background-color: rgba(245,130,84,0.4);
}

/* ===================================================================
 * Clock Desklet (desklet.js) 
 * ===================================================================*/
.clock-desklet-label {
}
