/* ###################################################################
 * Section common with Gnome Shell
 * ... contains a few cinnamon specific styles (rare occurences)
 * ###################################################################*/

stage {
	font-family: Cuprum;
	font-size: 10pt;
	color: #dddedf;
}

.cinnamon-link {
	color: #09f;
	text-decoration: underline;
}

.cinnamon-link:hover {
	color: #0af;
}

.label-shadow {
	color: rgba(0,0,0,0.15);
}

StScrollBar {
	padding: 0px;
}

StScrollView.vfade {
	-st-vfade-offset: 21px;
}

StScrollView StScrollBar {
	min-width: 12px;
	min-height: 20px;
}

StScrollBar StBin#trough {
	background-color: transparent;
}

StScrollBar StButton#vhandle,
StScrollBar StButton#hhandle {
	background-color: rgba(25,25,25,0.85);
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 0px;
	transition-duration: 100;
}

StScrollBar StButton#vhandle:hover,
StScrollBar StButton#hhandle:hover {
        background-gradient-start: rgba(64,130,255,0.80);
        background-gradient-end: rgba(64,130,255,0.80);
	border: 1px solid rgba(135,210,69,0.3);
}
/* Added by prem */
#Tooltip {
    color: #eeeeee;
    background-color: rgba(0,0,0,1);
    border: 1px solid rgba(0,0,0,1);
    border-radius: 0px;
    padding: 2px 2px;
font-size: 7.5pt;
    font-weight: normal;
    text-shadow: 0px 0px 0px rgba(41,41,41,0.1);
    text-align: center;
}

/*
#Tooltip {
	background-gradient-direction: vertical;
        background-gradient-start: rgba(64,130,255,0.90);
        background-gradient-end: rgba(64,130,255,0.90);
	border-radius: 0px;
	padding: 3px 10px;
	font-weight: bold;
	text-align: center;
}
*/

/* ===================================================================
 * Shared button properties
 * ===================================================================*/

.notification-button,
.notification-icon-button,
.hotplug-notification-item,
.modal-dialog-button {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,0,0,0.21);
	background-gradient-end: rgba(0,0,0,0.15);
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 0px;
	font-weight: bold;
	padding: 4px 20px;
	transition-duration: 100;
}

.notification-button:hover,
.notification-icon-button:hover,
.hotplug-notification-item:hover,
.modal-dialog-button:hover {
        background-gradient-start: rgba(64,130,255,0.80);
        background-gradient-end: rgba(64,130,255,0.80);
	border: 1px solid rgba(135,210,69,0.3);
}

.notification-button:focus,
.notification-icon-button:focus,
.hotplug-notification-item:focus,
.modal-dialog-button:focus {
	border: 1px solid rgba(255,255,255,0.1);
}

.hotplug-resident-eject-button {
	background-color: transparent;
	border: 1px solid transparent;
	transition-duration: 100;
}

.hotplug-resident-eject-button:hover {
	background-gradient-direction: vertical;
        background-gradient-start: rgba(64,130,255,0.80);
        background-gradient-end: rgba(64,130,255,0.80);
	border: 1px solid rgba(135,210,69,0.3);
}

.notification-button:active,
.notification-icon-button:active,
.hotplug-notification-item:active,
.hotplug-resident-eject-button:active,
.modal-dialog-button:active,
.modal-dialog-button:pressed {
        background-gradient-start: rgba(64,130,255,0.80);
        background-gradient-end: rgba(64,130,255,0.80);
}

/* ===================================================================
 * PopupMenu (popupMenu.js)
 * ===================================================================*/

.popup-menu-boxpointer {
	-arrow-border-radius: 0px;
	-arrow-background-color: #444851;
	-arrow-border-width: 1px;
	-arrow-border-color: rgba(255,255,255,0.1);
	-arrow-base: 0px;
	-arrow-rise: 10px;
	-boxpointer-gap: 3px;
}

.popup-menu {
	min-width: 100px;
	    font-weight: bold;
}

.popup-submenu-menu-item:open {
	background-color: transparent;
}

.popup-sub-menu {
	background-color: rgba(25,25,25,0.50);
}

/*
.popup-sub-menu .popup-menu-item:ltr {
	padding-right: 0em;
}

.popup-sub-menu .popup-menu-item:rtl {
	padding-left: 0em;
}
*/

.popup-sub-menu StScrollBar {
	padding: 5px;
}

.popup-sub-menu StScrollBar StBin#trough {
	border-width: 0px;
}

.popup-sub-menu StScrollBar StBin#vhandle {
	background-color: rgba(0,0,0,0.15);
	border-width: 0px;
}

.popup-combo-menu {
	background-color: rgba(25,25,25,0.50);
	border: 1px solid rgba(255,255,255,0.1);
	padding: 1em 0em;
	border-radius: 0px;
}

/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
	padding: 1em 0em;
}

.popup-menu-item {
	padding: .3em 1.75em;
	spacing: 1em;
	border: 1px solid transparent;
	transition-duration: 100;
}

.popup-menu-item:active {
	background-gradient-direction: vertical;
        background-gradient-start: rgba(64,130,255,0.80);
        background-gradient-end: rgba(64,130,255,0.80);
	border: 1px solid rgba(135,210,69,0.3);
}

.popup-menu-item:insensitive {
	color: #999;
}

.popup-image-menu-item {
}

.popup-combobox-item {
	spacing: 1em;
}

.popup-separator-menu-item {
	background-color: rgba(233,233,233,0.21);
	height: 1px;
}

.popup-alternating-menu-item:alternate {
	font-weight: bold;
}

.popup-slider-menu-item {
	height: 1em;
	min-width: 15em;
	-slider-height: 0.3em;
	-slider-background-color: rgba(255,255,255,0.72);
	-slider-border-color: rgba(25,25,25,0.3);
	-slider-active-background-color: rgba(64,130,255,0.85);;
	-slider-active-border-color: rgba(25,25,25,0.3);
	-slider-border-width: 1px;
	-slider-handle-radius: 0.5em;
}

.popup-device-menu-item {
	spacing: .5em;
}

.popup-inactive-menu-item {
	font-weight: bold;
	color: #999;
}

.popup-subtitle-menu-item {
	font-weight: bold;
}

.popup-menu-icon {
	icon-size: 1.14em;
}

/* Switches (to be used in menus) */
.toggle-switch {
	width: 52px;
	height: 18px;
}

.toggle-switch-us,
.toggle-switch-intl {
	background-image: url("toggle-off.png");
}

.toggle-switch-us:checked,
.toggle-switch-intl:checked {
	background-image: url("toggle-on.png");
}

.nm-menu-item-icons {
	spacing: .3em;
}

/* ===================================================================
 * Panel (panel.js)
 * ===================================================================*/

#panel {
        background-color: #444851;
        box-shadow: 0px 0px 2px 2px rgba(0,0,0,1);
        outline: 1px rgba(255,255,255,0.1);
        font-size: 10pt;
        font-weight: bold;
        height: 25px;
}

#panelLeft,
#panelCenter {
	spacing: 5px;
}

#panelLeft:dnd {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,0,0,0.05);
	background-gradient-end: rgba(255,0,0,0.2);
}

#panelCenter:dnd {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,255,0,0.05);
	background-gradient-end: rgba(0,255,0,0.2);
}

#panelRight:dnd {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,0,255,0.05);
	background-gradient-end: rgba(0,0,255,0.2);
}

#panelLeft:ltr {
	padding-right: 4px;
}

#panelLeft:rtl {
	padding-left: 4px;
}

#panelRight:ltr {
	padding-left: 0px;
	spacing: 0px;
}

#panelRight:rtl {
	padding-right: 0px;
	spacing: 0px;
}

.panel-top {
}

.panel-bottom {
}

.panel-status-button {
	-natural-hpadding: 5px;
	-minimum-hpadding: 5px;
	font-weight: bold;
	height: 16px;
	transition-duration: 100;
}

.panel-status-button:hover {
	background-gradient-direction: vertical;
        background-gradient-start: rgba(64,130,255,0.80);
        background-gradient-end: rgba(64,130,255,0.80);
}

.system-status-icon {
	padding-left: 0px;
	padding-right: 0px;
	spacing: 0px;
	margin: 0px;
}

.panel-corner {
	-panel-corner-radius: 0px;
	-panel-corner-inner-border-width: 0px;
	-panel-corner-outer-border-width: 0px;
}

.panel-corner:active,
.panel-corner:overview,
.panel-corner:focus {
}

#appMenu {
	spacing: 5px;
}

.panel-button #appMenuIcon {
	app-icon-bottom-clip: 1px;
}

.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
	app-icon-bottom-clip: 2px;
}

.panel-button {
	-natural-hpadding: 6px;
	-minimum-hpadding: 2px;
	font-weight: bold;
	transition-duration: 100;
}

.panel-button:hover,
.panel-button:active,
.panel-button:overview,
.panel-button:focus {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(64,130,255,0.80);
	background-gradient-end: rgba(64,130,255,0.80);
	border-radius: 0px;
}

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
}

/* specifying -boxpointer-gap here doesn't work */
.panel-menu {
}

.popup-menu-item-dot {
}

.system-status-icon {
	icon-size: 1.14em;
}

/* ===================================================================
 * Overview
 * ===================================================================*/

#overview {
	spacing: 12px;
}

.window-caption {
	spacing: 25px;
	background-color: rgba(25,25,25,0.85);
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 0px;
	padding: 5px;
	-cinnamon-caption-spacing: 6px;
}

.window-caption#selected {
        background-color: rgba(64,130,255,0.65);
}

.workspace-controls {
	visible-height: 32px; /* Amount visible before hovering */
}

.workspace-thumbnails-background {
	background-color: rgba(25,25,25,0.50);
	border: 1px solid rgba(255,255,255,0.1);
	border-right: 0px;
	border-radius: 0px 3px 0px 0px;
	padding: 5px;
}

.workspace-thumbnails-background:rtl {
	border-right: 1px;
	border-left: 0px;
	border-radius: 0px 0px 0px 0px;
}

.workspace-thumbnails {
	spacing: 10px;
}

.workspace-add-button {
	background-image: url("add-workspace-button.svg");
	background-color: rgba(25,25,25,0.85);
	border: 1px solid rgba(255,255,255,0.1);
	border-right: 0px;
	border-radius: 0px 0px 0px 0px;
	height: 48px;
	width: 36px;
}

.workspace-add-button:hover {
        background-color: rgba(64,130,255,0.65);
	transition-duration: 100;
}

.workspace-close-button,
.window-close {
	background-image: url("close.svg");
	height: 32px;
	width: 32px;
	transition-duration: 100;
	-cinnamon-close-overlap: 18px;
	-st-background-image-shadow: 0px 2px 4px rgba(0,0,0,0.6);
}

.window-close-area {
	background-image: url("trash-icon.png");
	background-color: rgba(25,25,25,0.85);
	border: 1px solid rgba(255,255,255,0.1);
	border-bottom-width: 0px;
	border-radius: 0px 0px 0px 0px;
	height: 120px;
	width: 400px;
}

.icon-grid {
	spacing: 36px;
	-cinnamon-grid-item-size: 118px;
}

.icon-grid .overview-icon {
	icon-size: 96px;
}

.overview-icon {
	border-radius: 0px;
	padding: 3px;
	border: 1px rgba(0,0,0,0);
	font-size: 10pt;
	color: white;
	transition-duration: 100;
	text-align: center;
}

.expo-background {
	background-gradient-start: rgba(0,0,0,0.6);
	background-gradient-end: rgba(0,0,0,0.6);
	background-gradient-direction: vertical
}

/* ===================================================================
 * ViewSelector
 * ===================================================================*/
#viewSelector {
	spacing: 1em;
	font-size: 12pt;
}

#viewSelectorTabBar {
	padding: 1em;
}

.view-tab-title {
	color: #999;
	font-weight: bold;
	padding: 0px 0.75em;
	height: 1.5em;
}

.view-tab-title:hover {
	color: #ccc;
}

.view-tab-title:selected {
	color: #fff;
	background-color: rgba(64,130,255,0.65);
	border-radius: 0px;
}

/* ===================================================================
 * Looking Glass
 * ===================================================================*/

#LookingGlassDialog {
	background-color: rgba(25,25,25,0.50);
	spacing: 5px;
	padding: 5px;
	border: 1px solid rgba(0,0,0,0.21);
	border-radius: 0px;
}

#LookingGlassDialog > #Toolbar {
	border: 1px solid rgba(0,0,0,0.21);
	border-radius: 0px;
}

#LookingGlassDialog .labels {
	spacing: 5px;
}

#LookingGlassDialog .notebook-tab {
	color: #eee;
	padding: 3px;
	transition-duration: 100;
}

#LookingGlassDialog .notebook-tab:hover {
	color: #fff;
}

#LookingGlassDialog .notebook-tab:selected {
	color: #fff;
	font-weight: bold;
}

#LookingGlassDialog .lg-inspector-title {
	font-weight: bold;
	padding-bottom: 8px;
}

.lg-dialog StLabel {
	color: #eee;
}

.lg-dialog StEntry {
	selection-background-color: rgba(64,130,255,0.65);
	selected-color: #fff;
}

.lg-obj-inspector-title {
	spacing: 5px;
}

.lg-obj-inspector-button {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,0,0,0.21);
	background-gradient-end: rgba(0,0,0,0.15);
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 0px;
	padding: 5px;
	transition-duration: 100;
}

.lg-obj-inspector-button:hover {
	background-gradient-start: rgba(64,130,255,0.80);
        background-gradient-end: rgba(64,130,255,0.80);
}

.lg-dialog .cinnamon-link {
	color: #eee;
}

.lg-dialog .cinnamon-link:hover {
	color: #fff;
}

#LookingGlassDialog StBoxLayout#EvalBox {
	padding: 5px;
	spacing: 5px;
}

#LookingGlassDialog StBoxLayout#ResultsArea {
	spacing: 5px;
}

#lookingGlassExtensions {
	padding: 5px;
}

.lg-extension-list {
	padding: 5px;
	spacing: 5px;
}

.lg-extension {
	border: 1px solid #666;
	border-radius: 0px;
	padding: 5px;
}

.lg-extension-name {
	font-weight: bold;
}

.lg-extension-meta {
	spacing: 5px;
}

#LookingGlassPropertyInspector {
	background: rgba(0,0,0,0.85);
	border: 1px solid rgba(0,0,0,0.21);
	border-radius: 0px;
	padding: 5px;
}

/* ===================================================================
 * Date applet
 * ===================================================================*/

.calendar {
	padding: .3em 2em;
	spacing-rows: 0px;
	spacing-columns: 0px;
}

.calendar-month-label {
	color: rgba(255,255,255,0.72);
	font-size: 10pt;
	padding-bottom: 5px;
	padding-top: 5px;
	font-weight: bold;
}

.calendar-change-month-back {
	width: 18px;
	height: 12px;
	background-image: url("calendar-arrow-left.svg");
	transition-duration: 100;
}

.calendar-change-month-back:rtl {
	background-image: url("calendar-arrow-right.svg");
}

.calendar-change-month-back:hover {
	background-image: url("calendar-arrow-left-hover.svg");
}

.calendar-change-month-back:active {
}

.calendar-change-month-forward {
	width: 18px;
	height: 12px;
	background-image: url("calendar-arrow-right.svg");
	transition-duration: 100;
}

.calendar-change-month-forward:rtl {
	background-image: url("calendar-arrow-left.svg");
}

.calendar-change-month-forward:hover {
	background-image: url("calendar-arrow-right-hover.svg");
}

.calendar-change-month-forward:active {
}

.datemenu-date-label {
	padding: .3em 1.75em;
	font-weight: bold;
}

.calendar-day-base {
	font-size: 10pt;
	text-align: center;
	width: 2.4em;
	max-height: 2.4em;
	padding: 5px 0px 5px 0px;
}

.calendar-day-heading {
	font-weight: bold;
	padding-top: 1em;
}

.calendar-week-number {
	font-weight: bold;
}

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day:ltr {
	border: 1px solid #333;
	border-top-width: 0px;
	border-left-width: 0px;
}

.calendar-day-top:ltr {
	border-top-width: 1px;
}

.calendar-day-left:ltr {
	border-left-width: 1px;
}

.calendar-day:rtl {
	border: 1px solid #333;
	border-top-width: 0px;
	border-right-width: 0px;
}

.calendar-day-top:rtl {
	border-top-width: 1px;
}

.calendar-day-left:rtl {
	border-right-width: 1px;
}

.calendar-work-day {
}

.calendar-nonwork-day {
	background-color: rgba(128, 128, 128, .1);
}

.calendar-today {
	background-gradient-direction: vertical;
       background-gradient-start: rgba(64,130,255,0.80);
       background-gradient-end: rgba(64,130,255,0.80);
	font-weight: bold;
}

.calendar-other-month-day {
	color: #666;
}

.calendar-day-with-events {
	font-weight: bold;
}

/* ===================================================================
 * Notifications
 * ===================================================================*/

#notification {
	background-color: rgba(68,72,81,1);
	border: 1px solid rgba(236,237,239,0.1);
	border-radius: 0px;
	padding: 10px;
	spacing-rows: 10px;
	spacing-columns: 10px;
	width: 34em;
	margin-from-right-edge-of-screen: 30px;
}

#notification.multi-line-notification {
	padding-bottom: 8px;
}

/* We use row-span = 2 for the image cell, which prevents its height preferences to be
	taken into account during allocation, so its height ends up being limited by the height
	of the content in the other rows. To avoid showing a stretched image, we set the minimum
	height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
	min-height: 159px;
	color: white;
}

#notification-scrollview {
	max-height: 10em;
}

#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
	height: 1em;
}

#notification-scrollview:ltr > StScrollBar {
	padding-left: 5px;
}

#notification-scrollview:rtl > StScrollBar {
	padding-right: 5px;
}

#notification-body {
	spacing: 5px;
}

#notification-actions {
	spacing: 10px;
}

.notification-button {
	border-radius: 0px;
	padding: 5px 30px;
}

.notification-button:focus {
}

.notification-icon-button {
	border-radius: 0px;
	padding: 5px;
}

.notification-icon-button:focus {
}

.notification-icon-button > StIcon {
	icon-size: 36px;
}

.hotplug-transient-box {
	spacing: 6px;
	padding: 2px 72px 2px 12px;
}

.hotplug-notification-item {
	padding: 2px 10px;
	border-radius: 0px;
}

.hotplug-notification-item:focus {
}

.hotplug-notification-item-icon {
	icon-size: 24px;
	padding: 2px 5px;
}

.hotplug-resident-box {
	spacing: 8px;
}

.hotplug-resident-mount {
	font-weight: bold;
	spacing: 8px;
	border: 1px solid transparent;
	border-radius: 0px;
	transition-duration: 100;
}

.hotplug-resident-mount:hover {
	background-gradient-direction: vertical;
       background-gradient-start: rgba(64,130,255,0.80);
        background-gradient-end: rgba(64,130,255,0.80);
	border: 1px solid rgba(135,210,69,0.3);
}

.hotplug-resident-mount-label {
	color: inherit;
	padding-left: 6px;
}

.hotplug-resident-mount-icon {
	icon-size: 24px;
	padding-left: 6px;
}

.hotplug-resident-eject-icon {
	icon-size: 16px;
}

.hotplug-resident-eject-button {
	padding: 7px;
	border-radius: 0px;
}

#notification StEntry {
	color: #000;
	background-color: rgba(255,255,255,0.72);
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 0px;
	padding: 5px 10px;
	selected-color: #fff;
	selection-background-color: rgba(64,130,255,0.65);
	caret-color: #666;
	caret-size: 1px;
	transition-duration: 100;
}

#notification StEntry:focus {
	border: 1px solid rgba(170,240,120,0.3);
}

/* ===================================================================
 * Alt Tab
 * ===================================================================*/

#altTabPopup {
	padding: 8px;
	spacing: 16px;
}

.switcher-list {
	background-color: rgba(25,25,25,0.85);
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 0px;
	padding: 20px;
}

.switcher-list-item-container {
	spacing: 8px;
}

.thumbnail-scroll-gradient-left {
	background-gradient-direction: horizontal;
	background-gradient-start: rgba(0,0,0,0);
	background-gradient-end: rgba(0,0,0,0.3);
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 0px;
	border-radius-topright: 0px;
	border-radius-bottomright: 0px;
	width: 60px;
}

.thumbnail-scroll-gradient-right {
	background-gradient-direction: horizontal;
	background-gradient-start: rgba(0,0,0,0);
	background-gradient-end: rgba(0,0,0,0.3);
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 0px;
	border-radius-topleft: 0px;
	border-radius-bottomleft: 0px;
	width: 60px;
}

.switcher-list .item-box {
	padding: 8px;
	border-radius: 0px;
}

.switcher-list .item-box:outlined {
	padding: 6px;
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,0,0,0.3);
	background-gradient-end: rgba(0,0,0,0.15);
}

.switcher-list .item-box:selected {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(64,130,255,0.80);
        background-gradient-end: rgba(64,130,255,0.80);
}

.switcher-list .thumbnail-box {
	padding: 2px;
	spacing: 5px;
}

.switcher-list .thumbnail {
	width: 256px;
}

.switcher-list .separator {
	width: 1px;
	background-color: rgba(255,255,255,0.21);
}

.ripple-box {
    width: 300px;
    height: 300px;
    background-gradient-end: rgba(37,154,202,0.8);
    background-gradient-start: rgba(0,0,0,0.3);
    background-gradient-direction: radial;
 box-shadow: outset 0px 0px 5px 5px #00A7FF;
 border-radius: 0px;
}

.ripple-box:rtl {
    width: 300px;
    height: 300px;
    background-gradient-end: rgba(37,154,202,0.8);
    background-gradient-start: rgba(0,0,0,0.3);
    background-gradient-direction: radial;
 box-shadow: outset 0px 0px 5px 5px #00A7FF;
 border-radius: 0px;
}

.switcher-arrow {
	border-color: rgba(0,0,0,0);
	color: #888;
}

.switcher-arrow:highlighted {
	border-color: rgba(0,0,0,0);
}

.switcher-preview-backdrop {
   background-color: rgba(0,0,0,0.6);
}

/* ===================================================================
 * Modal dialogs
 * ===================================================================*/

.modal-dialog {
	background-color: rgba(25,25,25,0.50);
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 0px;
	transition-duration: 100;
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 30px;
	padding-top: 30px;
}

.modal-dialog-button-box {
	spacing: 21px;
}

.modal-dialog-button {
	border-radius: 0px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px 30px;
}

.modal-dialog-button:disabled {
	color: rgb(60,60,60);
}

.modal-dialog-button:focus {
}

/* ===================================================================
 * Run dialog
 * ===================================================================*/

.run-dialog-label {
	font-size: 10pt;
}

.run-dialog-error-label {
	font-size: 10pt;
}

.run-dialog-error-box {
	padding-top: 15px;
	spacing: 5px;
}

.run-dialog-entry {
	color: #fff;
	background-color: transparent;
	padding: 5px 0px 3px;
	font-weight: bold;
	width: 23em;
	caret-color: #666;
	caret-size: 1px;
	selection-background-color: rgba(64,130,255,0.65);
	selected-color: #fff;
}

.run-dialog {
	background-color: rgba(25,25,25,0.50);
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 0px;
	padding-right: 21px;
	padding-left: 21px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.lightbox {
	background-color: rgba(25,25,25,0.50);
}

/* ===================================================================
 * End session dialog
 * ===================================================================*/

.end-session-dialog {
	spacing: 42px;
}

.end-session-dialog-subject {
	font-size: 10pt;;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 17px;
	padding-bottom: 30px;
}

.end-session-dialog-subject:rtl {
	padding-left: 0px;
	padding-right: 17px;
}

.end-session-dialog-description {
	font-size: 10pt;
	padding-left: 17px;
	width: 28em;
}

.end-session-dialog-description:rtl {
	padding-right: 17px;
}

.end-session-dialog-logout-icon {
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 0px;
	width: 32px;
	height: 32px;
}

.end-session-dialog-shutdown-icon {
	width: 32px;
	height: 32px;
}

.end-session-dialog-app-list {
	font-size: 10pt;
	max-height: 200px;
	padding-top: 42px;
	padding-left: 49px;
	padding-right: 32px;
}

.end-session-dialog-app-list:rtl {
	padding-right: 49px;
	padding-left: 32px;
}

.end-session-dialog-app-list-item {
	transition-duration: 100;
}

.end-session-dialog-app-list-item:hover {
}

.end-session-dialog-app-list-item:ltr {
	padding-right: 1em;
}

.end-session-dialog-app-list-item:rtl {
	padding-left: 1em;
}

.end-session-dialog-app-list-item-icon:ltr {
	padding-right: 17px;
}

.end-session-dialog-app-list-item-icon:rtl {
	padding-left: 17px;
}

.end-session-dialog-app-list-item-name {
	font-size: 10pt;
}

.end-session-dialog-app-list-item-description {
	font-size: 8pt;
}

/* CinnamonMountOperation Dialogs */
.cinnamon-mount-operation-icon {
	icon-size: 48px;
}

.mount-password-reask {
	color: red;
}

.show-processes-dialog,
.mount-question-dialog {
	spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
	font-size: 10pt;;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 17px;
	padding-bottom: 6px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
	padding-left: 0px;
	padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
	font-size: 10pt;
	padding-left: 17px;
	width: 28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
	padding-right: 17px;
}

.show-processes-dialog-app-list {
	font-size: 10pt;
	max-height: 200px;
	padding-top: 24px;
	padding-left: 49px;
	padding-right: 32px;
}

.show-processes-dialog-app-list:rtl {
	padding-right: 49px;
	padding-left: 32px;
}

.show-processes-dialog-app-list-item {
	transition-duration: 100;
}

.show-processes-dialog-app-list-item:hover {
}

.show-processes-dialog-app-list-item:ltr {
	padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl {
	padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
	padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl {
	padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
	font-size: 10pt;
}

/* ===================================================================
 * Policykit authentication dialog
 * ===================================================================*/

.polkit-dialog {
	/* this is the width of the entire modal popup */
	width: 500px;
}

.polkit-dialog-main-layout {
	spacing: 24px;
	padding: 10px;
}

.polkit-dialog-message-layout {
	spacing: 16px;
}

.polkit-dialog-headline {
	font-size: 10pt;;
	font-weight: bold;
}

.polkit-dialog-description {
	font-size: 10pt;
}

.polkit-dialog-user-layout {
	padding-left: 10px;
	spacing: 10px;
}

.polkit-dialog-user-layout:rtl {
	padding-left: 0px;
	padding-right: 10px;
}

.polkit-dialog-user-root-label {
	color: #f00;
}

.polkit-dialog-password-label {
}

.polkit-dialog-password-label:ltr {
	padding-right: 0.5em;
}

.polkit-dialog-password-label:rtl {
	padding-left: 0.5em;
}

.polkit-dialog-password-entry {
	color: #000;
	background-color: rgba(255,255,255,0.72);
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 0px;
	padding: 5px 10px;
	selected-color: #fff;
	selection-background-color: rgba(64,130,255,0.65);
	caret-color: #666;
	caret-size: 1px;
	transition-duration: 100;
}

.polkit-dialog-password-entry:focus {
	border: 1px solid rgba(170,240,120,0.6);
}

.polkit-dialog-password-entry .capslock-warning {
	icon-size: 16px;
	warning-color: rgba(240,170,0,1.0);
	padding: 0px 5px;
}

.polkit-dialog-error-label {
	font-size: 10pt;
	color: #ff0;
	padding-bottom: 8px;
}

.polkit-dialog-info-label {
	font-size: 10pt;
	padding-bottom: 8px;
}

/* intentionally left transparent to avoid dialog changing size */
.polkit-dialog-null-label {
	color: rgba(0,0,0,0);
	padding-bottom: 8px;
}

.network-dialog-show-password-checkbox {
	padding-top: 5px;
	padding-bottom: 5px;
	spacing: 10px;
}

.network-dialog-secret-table {
	spacing-rows: 15px;
}

/* ===================================================================
 * Magnifier
 * ===================================================================*/

.magnifier-zoom-region {
	border: 2px solid rgba(128, 0, 0, 255);
}

.magnifier-zoom-region.full-screen {
	border-width: 0px;
}

/* ===================================================================
 * On screen keyboard
 * ===================================================================*/

#keyboard {
	background-color: rgba(25,25,25,0.50);
}

.keyboard-layout {
	spacing: 10px;
	padding: 10px;
}

.keyboard-row {
	spacing: 15px;
}

.keyboard-key {
	background-color: rgba(25,25,25,0.85);
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 0px;
	min-height: 30px;
	min-width: 30px;
	font-size: 14pt;
	font-weight: bold;
	transition-duration: 100;
}

.keyboard-key:grayed {
	color: #666;
	border: 1px solid rgba(255,255,255,0.1);
}

.keyboard-key:checked,
.keyboard-key:hover {
	background-gradient-direction: vertical;
        background-gradient-start: rgba(64,130,255,0.80);
        background-gradient-end: rgba(64,130,255,0.80);
}

.keyboard-key:active {

        background-gradient-start: rgba(64,130,255,0.80);
        background-gradient-end: rgba(64,130,255,0.80);
}

.keyboard-subkeys {
	-arrow-border-radius: 0px;
	-arrow-background-color: rgba(25,25,25,0.85);
	-arrow-border-width: 1px;
	-arrow-border-color: rgba(255,255,255,0.1);
	-arrow-base: 21px;
	-arrow-rise: 10px;
	-boxpointer-gap: 12px;
}

/* ###################################################################
 * Cinnamon Specific Section
 * ###################################################################*/

/* ===================================================================
 * Menu (menu.js)
 * ===================================================================*/

/* Main menu title */
.menu-favorites-box {
	background-color: transparent;
	margin: auto;
	padding: 3px;
	border-radius: 0px;
}

.menu-favorites-button {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.menu-favorites-button:hover {
	background-gradient-direction: vertical;
        background-gradient-start: rgba(64,130,255,0.80);
        background-gradient-end: rgba(64,130,255,0.80);
	border-radius: 0px;
	transition-duration: 100;
}

.menu-places-box {
	margin: auto;
	padding: 3px;
	border-radius: 0px;
}

.menu-places-button {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.menu-categories-box {
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

.menu-applications-box {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
}

.menu-application-button {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.menu-application-button-selected {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	background-gradient-direction: vertical;
        background-gradient-start: rgba(64,130,255,0.80);
        background-gradient-end: rgba(64,130,255,0.80);
	border-radius: 0px;
}

.menu-application-button-label:ltr {
	padding-left: 5px;
}

.menu-application-button-label:rtl {
	padding-right: 5px;
}

.menu-category-button {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	transition-duration: 100;
}

.menu-category-button-greyed {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	color: #9C9C9C;
	font-style: italic;
}

.menu-category-button-selected {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	background-gradient-direction: vertical;
        background-gradient-start: rgba(64,130,255,0.80);
        background-gradient-end: rgba(64,130,255,0.80);
	border-radius: 0px;
	transition-duration: 100;
}

.menu-category-button-label:ltr {
	padding-left: 5px;
}

.menu-category-button-label:rtl {
	padding-right: 5px;
}

.menu-category-button-button:hover {
	background-gradient-direction: vertical;
        background-gradient-start: rgba(64,130,255,0.80);
        background-gradient-end: rgba(64,130,255,0.80);
	border-radius: 0px;
}

/* Name and description of the currently hovered item in the menu
 * This appears on the bottom right hand corner of the menu*/
.menu-selected-app-box {
	padding-right: 30px;
	padding-left: 28px;
	text-align: right;
}

.menu-selected-app-box:rtl {
	padding-top: 10px;
	height: 30px;
}

.menu-selected-app-title {
	font-weight: bold;
}

.menu-selected-app-description {
	max-width: 150px;
}

.menu-search-box:ltr {
	padding-left: 30px;
}

.menu-search-box:rtl {
	padding-right: 30px;
}

#menu-search-entry {
	color: #000;
	background-color: rgba(255,255,255,0.72);
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 0px;
	padding: 5px 10px;
	selected-color: #fff;
	selection-background-color: rgba(64,130,255,0.65);
	caret-color: #666;
	caret-size: 1px;
	width: 300px;
	transition-duration: 100;
}

#menu-search-entry:focus,
#menu-search-entry:hover {
	transition-duration: 100;
}

.menu-search-entry-icon {
	icon-size: 1em;
	color: #333;
}

/* Context menu */
.menu-context-menu {
}

/* ===================================================================
 * Window list (windowList.js)
 * ===================================================================*/

.window-list-box {
	spacing: 3px;
	padding: 0px;
}

.window-list-item-label {
	font-weight: bold;
	width: 15em;
	min-width: 5px;
}

.window-list-item-box {
	padding-left: 3px;
	padding-right: 3px;
	background-color: transparent;
	transition-duration: 100;
}

.window-list-item-box:active,
.window-list-item-box:checked,
.window-list-item-box:focus {
	background-gradient-direction: vertical;
        background-gradient-start: rgba(64,130,255,0.80); /* NEW_COLOR */
        background-gradient-end: rgba(64,130,255,0.80);
				/* box-shadow: inset 2px 3px 3px 2px rgba(25,25,25,0.3); */
	border-radius: 0px;
}

.window-list-item-box:hover {
	background-gradient-direction: vertical;
        background-gradient-start: rgba(64,130,255,0.90); /* NEW_COLOR */
        background-gradient-end: rgba(64,130,255,0.90);
	border-radius: 0px;
}

.window-list-item-demands-attention {
	background-gradient-start: rgba(255,52,52,0.5);
	background-gradient-end: rgba(255,144,144,0.5);
}

/* ===================================================================
 * Sound Applet (status/volume.js)
 * ===================================================================*/

.sound-button-container {
	padding-right: 3px;
	padding-left: 3px;
}

.sound-button {
	width: 21px;
	height: 12px;
	border-radius: 0px;
	padding: 5px;
}

.sound-button:hover {
	background-gradient-direction: vertical;
        background-gradient-start: rgba(64,130,255,0.80);
        background-gradient-end: rgba(64,130,255,0.80);
}

.sound-button StIcon {
	icon-size: 1.4em;
}

.sound-track-infos {
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.sound-track-info {
	padding-bottom: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.sound-track-info StIcon {
	icon-size: 1em;
}

.sound-track-info StLabel {
	padding-left: 5px;
	padding-right: 5px;
}

.sound-track-box {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 200px;
}

.sound-volume-menu-item {
	padding: .3em 1.75em;
}

.sound-volume-menu-item StIcon {
	icon-size: 1.14em;
	padding-left: 8px;
	padding-right: 8px;
}

.sound-playback-control {
	padding-top: 5px;
	padding-bottom: 10px;
}

/* ===================================================================
 * Workspace Switcher applet (workspaceSwitcher.js)
 * ===================================================================*/

#workspaceSwitcher {
	spacing: 0px;
	padding: 0px;
}

.workspace-button {
	background-color: rgba(25,25,25,0.50);
	width: 20px;
	padding: 2px;
	border: 1px solid rgba(255,255,255,0.1);
	transition-duration: 100;
}

.workspace-button:outlined {
	background-gradient-direction: vertical;
        background-gradient-start: rgba(64,130,255,0.80);
        background-gradient-end: rgba(64,130,255,0.80);
}

.workspace-button:hover,
.workspace-button:outlined:hover {
	background-gradient-direction: vertical;
        background-gradient-start: rgba(64,130,255,0.80);
        background-gradient-end: rgba(64,130,255,0.80);
}

/* ===================================================================
 * Panel Launchers Applet (panelLaunchers.js)
 * ===================================================================*/

#panel-launchers-box {
	padding-left: 0px;
}

.panel-launcher {
	margin: 0px;
	padding: 3px;
	transition-duration: 100;
}

.panel-launcher:hover {
	background-gradient-direction: vertical;
        background-gradient-start: rgba(64,130,255,0.80);
        background-gradient-end: rgba(64,130,255,0.80);
	border-radius: 0px;
}

.panel-launcher-add-dialog-content-box {
	padding: 5px;
	spacing: 20px;
}

.panel-launcher-add-dialog-content-box-left {
	padding: 6px;
	spacing: 20px;
}

.panel-launcher-add-dialog-content-box-right {
	padding: 6px;
	spacing: 10px;
}

.panel-launcher-add-dialog-entry {
	color: #000;
	background-color: rgba(255,255,255,0.72);
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 0px;
	padding: 5px 10px;
	selected-color: #fff;
	selection-background-color: rgba(64,130,255,0.65);
	caret-color: #666;
	caret-size: 1px;
	width: 300px;
	transition-duration: 100;
}

.panel-launcher-add-dialog-entry:focus,
.panel-launcher-add-dialog-entry:hover {
	border: 1px solid rgba(64,130,255,0.80);
}

.panel-launcher-add-dialog-entry:focus {
	font-weight: bold;
}

/* ===================================================================
 * Overview corner
 * ===================================================================*/

#overview-corner {
	background-image: url("overview.png");
}

#overview-corner:hover {
    background-image:  url("overview-hover.png");
}

/* ===================================================================
 * Applets (applet.js)
 * ===================================================================*/

.applet-box {
	padding-left: 5px;
	padding-right: 5px;
	min-width: 1em;
	transition-duration: 100;
}

.applet-box:hover {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(64,130,255,0.80);
  background-gradient-end: rgba(64,130,255,0.80);
	border-radius: 0px;
}

.applet-label {
	font-weight: bold;
}

.applet-label:hover,
.applet-box:hover > .applet-label {
}

.applet-icon {
}

.applet-icon:hover,
.applet-box:hover > .applet-icon {
}

/* ===================================================================
 * Workspace OSD
 * ===================================================================*/

.workspace-osd {
	color: #fff;
	text-shadow: 0 2px 2px rgba(0,0,0,0.85);
	font-weight: bold;
	font-size: 48pt;
}

.expo-workspaces-name-entry {
	color: #000;
	background-color: rgba(255,255,255,0.72);
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 0px;
	padding: 5px 10px;
	selected-color: #fff;
	selection-background-color: rgba(64,130,255,0.65);
	caret-color: #666;
	caret-size: 1px;
	width: 250px;
	height: 15px;
	text-align: center;
}

.expo-workspaces-name-entry#selected {
	background-color: rgba(64,130,255,0.65);
	color: #fff;
}

.expo-workspaces-name-entry:focus {
	border: 1px solid rgba(170,240,120,0.6);
	font-weight: bold;
	transition-duration: 100;
}

/* ===================================================================
 * Notification Applet
 * ===================================================================*/

.notification-applet-padding {
	padding: .5em 1em;
}

.notification-applet-container {
	max-height: 100px;
}

/* Check Boxes */
.check-box CinnamonGenericContainer {
    spacing: .2em;
    min-height: 30px;
    padding-top: 2px;
}

.check-box StBin {
    width: 24px;
    height: 18px;
    background-image: url("checkbox-off.svg");
}

.check-box:focus StBin {
    background-image: url("checkbox-off-focused.svg");
}

.check-box:checked StBin {
    background-image: url("checkbox.svg");
}

.check-box:focus:checked StBin {
    background-image: url("checkbox-focused.svg");
}

.check-box StLabel {
   font-weight: bold;
}

.radiobutton CinnamonGenericContainer {
    spacing: .2em;
    height: 26px;
    padding-top: 2px;
}

.radiobutton StBin {
    width: 22px;
    height: 22px;
    background-image: url("radiobutton-off.svg");
    border-radius: 15px;
}

.radiobutton:focus StBin {
    background-image: url("radiobutton-off.svg");
}

.radiobutton:checked StBin {
    background-image: url("radiobutton.svg");
}

.radiobutton:focus:checked StBin {
    background-image: url("radiobutton.svg");
}

.radiobutton StLabel {
   padding-top: 4px;
   font-size: 1em;
   box-shadow: none;
}
/* ===================================================================
 * Network Data Usage Monitor applet
 * ===================================================================*/

 /* These settings govern the width of the Applet and the space taken by the font.*/

.numa-left {
	text-align: center;
	min-width: 75px;
	font-weight: bold;
	/*font-size: 95%;*/
}

.numa-right {
	text-align: center;
	min-width: 1px;
	font-weight: bold;
	/*font-size: 95%;*/
}

/* The following are the styles for the Applet backgrounds - names are self explanitory
The colour parameters are red, green, blue, and transparency or a name */

.numa-not-connected {
	background-color: rgba(0,0,0,0.0);
 	border-radius: 10px;
}

.numa-connected {
	background-color: rgba(0,0,0,0);
 	border-radius: 10px;
}

.numa-alert {
        color: #000;
	background-gradient-direction: vertical;
        background-gradient-start: rgba(64,130,255,0.80); /* NEW_COLOR */
        background-gradient-end: rgba(64,130,255,0.80);
        border-radius: 0px;
}

.numa-limit-exceeded {
        color: #000;
	background-gradient-direction: vertical;
        background-gradient-start: rgba(64,130,255,0.80); /* NEW_COLOR */
        background-gradient-end: rgba(64,130,255,0.80);
       	border-radius: 0px;
}

/* ===================================================================
 * Snap/Tile OSD Popup
 * ===================================================================*/

.snap-osd {
    font-size: 18pt;
    border-radius: 24px;
    background-color: rgba(55,55,55,0.9);
    border: 2px solid rgba(92,176,39,1);
    color: #fff;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
